{{>usuario/_top-css}}
<div class="container-fluid bg-soft">
    <div class="row">
        <div class="col-12">
            {{>usuario/_menu}}

            <main class="content">

                <div class="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                            <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
                            <li class="breadcrumb-item"><a>Componentes</a></li>
                            <li class="breadcrumb-item">Entregadores</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-8 mb-4">
                        <div class="card border-light shadow-sm">
                            <div class="card-header border-bottom border-light d-flex justify-content-between">
                                <h2 class="h5 mb-0">Entregadores</h2>
                                <a data-bs-toggle="modal" data-bs-target="#modal-cadastrar-entregador"
                                    class="btn btn-sm btn-secondary">Adicionar</a>
                            </div>
                            <div class="card-body">

                                <ul class="list-group list-group-flush list my--3">
                                    {{#each entregador}}
                                    <li class="list-group-item px-0" {{#if statusAtivo}} {{else}}
                                        style="filter: grayscale(100%);" {{/if}}>
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <a href="#" class="user-avatar">
                                                    <img class="rounded-circle" data-bs-toggle="modal"
                                                        data-bs-target="#modal-editar-entregador"
                                                        data-bs-whatever="{{_id}}"
                                                        src="/img/perfil-avatar/svg/{{perfilAvatar}}.svg">
                                                </a>
                                            </div>
                                            <div class="col-auto ml--2">
                                                <h4 class="h6 mb-0">
                                                    <a data-bs-toggle="modal" data-bs-target="#modal-editar-entregador"
                                                        data-bs-whatever="{{_id}}">{{nome}}</a>
                                                </h4>
                                            </div>
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal add usuários START -->
                <div class="modal fade" id="modal-cadastrar-entregador" tabindex="-1"
                    aria-labelledby="modal-cadastrar-entregadorLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-cadastrar-entregadorLabel">Cadastrar usuário</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/entregador/add-entregador" method="POST">
                                    <div class="row g-2">
                                        <div class="col-md-8">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="nome" name="nome"
                                                    placeholder="0" required>
                                                <label for="nome">Nome*</label>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="col-md-10">
                                        <textarea cols="30" rows="5" class="form-control" id="observacao"
                                            name="observacao" placeholder="Observações" required></textarea>
                                    </div>
                                    <hr>
                                    <h5>Estabelecimentos</h5>
                                    <div class="row mt-4 ml-2">
                                        {{#each estabelecimentos}}
                                        <div class="form-check form-switch col-6">
                                            <br><input class="form-check-input" type="checkbox"
                                                name="estabelecimentos[]" id="edit-categoria{{_id}}" value="{{_id}}">
                                            <label class="form-check-label" for="{{_id}}">{{nome}}</label>
                                        </div>
                                        {{/each}}
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm mt-4">Salvar</button>
                                    <button type="buttton" class="btn btn-white btn-sm mt-4" data-bs-dismiss="modal"
                                        aria-label="Close">Cancelar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal add usuários END -->


                <div class="modal fade" id="modal-editar-entregador" tabindex="-1"
                    aria-labelledby="modal-editar-entregador" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-editar-entregadorLabel">Editar Usuário</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/entregador/edit-entregador" method="POST">
                                    <div class="row g-2">
                                        <div class="col-md-8">
                                            <div class="form-floating">
                                                <input type="text" class="form-control" id="edit-nome" name="nome"
                                                    placeholder="0" required>
                                                <label for="nome">Nome*</label>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="col-md-10">
                                        <textarea cols="30" rows="5" class="form-control" id="edit-observacoes"
                                            name="observacao" placeholder="Observações..." required></textarea>
                                    </div>
                                    <hr>
                                    <h5>Estabelecimentos</h5>
                                    <div class="row mt-4 ml-2">
                                        {{#each estabelecimentos}}
                                        <div class="form-check form-switch col-6">
                                            <input class="form-check-input" type="checkbox"
                                                name="estabelecimentos[]" id="edit-entregador{{_id}}" value="{{_id}}">
                                            <label class="form-check-label" for="{{_id}}">{{nome}}</label>
                                        </div>
                                        {{/each}}

                                        <input type="text" name="idEntregador" id="edit-idEntregador" hidden readonly>
                                    </div>
                                    <div class="mt-4">
                                        <button type="submit" class="btn btn-primary btn-sm ">Salvar</button>
                                        <button type="buttton" class="btn btn-white btn-sm " data-bs-dismiss="modal"
                                            aria-label="Close">Cancelar</button>

                                        <div class="form-check form-switch float-end " style="font-size: small;">
                                            <input class="form-check-input" type="checkbox" name="statusAtivo"
                                                id="edit-statusAtivo" value="true">
                                            <label class="form-check-label" for="edit-statusAtivo">Ativo</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <script>

                    var modalEditentregador = document.getElementById('modal-editar-entregador')
                    modalEditentregador.addEventListener('show.bs.modal', function (event) {
                        $('.form-check-input').prop('checked', false)
                        var button = event.relatedTarget
                        var recipient = button.getAttribute('data-bs-whatever')
                        jQuery.ajax({
                            type: "POST",
                            url: '/entregador/ajax-get-entregadores',
                            data: { idEntregador: recipient },
                            success: function (response) {
                                console.log(response)
                                $('#edit-idEntregador').val(response._id)
                                $('#edit-nome').val(response.nome)
                                $('#edit-observacoes').val(response.observacao)
                                $('#edit-statusAtivo').prop('checked', response.statusAtivo)

                                response.estabelecimentos.forEach(element => {
                                    $(`#edit-entregador${element.idEstabelecimento}`).prop('checked', true)
                                })
                            }
                        });
                    })
                </script>

                <script>
                    $("#cpf").mask("000.000.000-00");
                </script>
            </main>

        </div>
    </div>
</div>

{{>usuario/_rodape}}

{{>_msg}}