{{>usuario/_top-css}}
 <title>Painel Online</title>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
 <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/130527/qrcode.js'></script>
<div class="container-fluid bg-soft">
    <div class="row">
        <div class="col-12">
            {{>usuario/_menu}}

            <main class="content">

                <div class="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                            <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
                            <li class="breadcrumb-item"><a href="#">Painel De Vendas</a></li>

                        </ol>
                    </nav>
                </div>

                <div class="row">

                    <div class="col-12 col-xl-8">
                        <div class="card card-body bg-white border-light shadow-sm mb-4">
                            <form action="/configuracao/edit-config-painel" method="POST">
                                <input type="text" name="idPainel" id="idPainel" value="{{estabelecimento._id}}" hidden
                                    readonly>
                                <div class="row">
                                    <div class="col-md">
                                        <div style="border-radius: 25px;border-color:white">
                                            <br>
                                            <img  {{#if estabelecimento.img.logo.url}} src="{{estabelecimento.img.logo.url}}" {{else}} src="/usuario/assets/img/illustrations/no-image.jpg" {{/if}}
                                                class="rounded-circle rounded border logo-image-st" id="imgst">
                                        </div>
                                    </div>
                                    <center>                                                                        
                                        <div class="col-md">
                                            <div>
                                                <h6>Link para pedidos:</h6>
                                                <a href="/estabelecimento/{{estabelecimento.url}}" target="_blank"
                                                    style="color: #5A7FFF;"><span id="url">https://hotpedidos.com/estabelecimento/{{estabelecimento.url}}</span></a>
                                                    <button type="button" class="btn btn-primary btn-sm ml-2" style="height: 30px;" id="copybtn"><i class="fas fa-copy"></i></button>
                                            </div>
                                        </div>
                                          </center>
                                        <div class="qr-code-generator mt-4">

                                            <input type="text" class="qr-url" value="hotpedidos.com/estabelecimento/{{estabelecimento.url}}" hidden>
                                            <input type="number" class="qr-size" value="200" min="20" max="500" hidden>

                                            <center><button type="button" class="generate-qr-code">Gerar QRCODE&nbsp;&nbsp;<i class="fas fa-qrcode"></i></button></center>                        
                                            <div id="qrcode" class="mt-2"></div>
                                        </div>    
                                </div>
                                <div class="row g-2 mt-2">
                                    <div class="col-md" style="margin-top: -80px;">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="nome" name="nome"
                                                placeholder="0" value="{{estabelecimento.nomePainel}}" required>
                                            <label for="nome">Nome do estabelecimento*</label>
                                        </div>
                                    </div>
                                    </center>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" value="{{estabelecimento.endereco.logradouro}}"
                                                class="form-control" id="logradouro" name="logradouro" placeholder="0"
                                                required>
                                            <label for="logradouro">Endereço*</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control"
                                                value="{{estabelecimento.endereco.numero}}" id="numero" name="numero"
                                                placeholder="0" required>
                                            <label for="numero">N°*</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="text" class="form-control"
                                                value="{{estabelecimento.endereco.bairro}}" id="bairro" name="bairro"
                                                placeholder="0" required>
                                            <label for="bairro">Bairro*</label>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-md-3sm">
                                        <h6>Carregar logo</h6>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="file-input">
                                            <label for="file01">
                                                Selecionar
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3sm">
                                        <h6>Cor do fundo <i class="fas fa-pencil-alt"></i></h6>

                                    </div>
                                    <div class="col-md mr-2">
                                        <input type="color" value="{{estabelecimento.painel.colorFundo}}"
                                            name="colorFundo" id="colorFundo" class="color-circle">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3sm">
                                        <h6>Imagem de capa</h6>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="file-input">
                                            <label for="file02">
                                                Selecionar
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3sm">
                                        <h6>Cor da fonte <i class="fas fa-pencil-alt"></i></h6>
                                    </div>
                                    <div class="col-md mr-2">
                                        <input type="color" value="{{estabelecimento.painel.colorFonte}}"
                                            name="colorFonte" id="colorFonte" class="color-circle">
                                    </div>
                                </div>
                                <br><br><br>
                                <div>
                                    <button type="submit" class="save-button">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-4 text-center">
                        <label>Pré-visualização:</label>
                        <div class="smartphone" style="background:{{estabelecimento.painel.colorFundo}};"
                            id="backcolor">
                            <div class="container-md capa-image-sm"
                                style="background-image: {{#if estabelecimento.img.capa.url}} url({{estabelecimento.img.capa.url}}) {{else}} url(/usuario/assets/img/illustrations/no-image.jpg) {{/if}}" id="img2">
                                <center>
                                    <div>
                                        <br>
                                        <img {{#if estabelecimento.img.logo.url}} src="{{estabelecimento.img.logo.url}}" {{else}} src="/usuario/assets/img/illustrations/no-image.jpg" {{/if}} 
                                            class="rounded-circle rounded border logo-image" id="img1">
                                    </div>
                            </div>
                            <br>
                            <div style="margin-top: 10px;font-size: 16px;" class="rb">
                                <span style="font-weight: bold;color:{{estabelecimento.painel.colorFonte}};"
                                    id="nomeEstabelecimento">{{estabelecimento.nomePainel}}</span>
                            </div>
                            <div style="color:{{estabelecimento.painel.colorFonte}};" class="endereco rb">
                                <i class="fas fa-map-marker-alt text-danger"></i>
                                <span id="enderecoEstabelecimento">{{estabelecimento.endereco.logradouro}}</span>
                                <span id="numeroEstabelecimento"> - {{estabelecimento.endereco.numero}}</span>
                                <span id="bairroEstabelecimento"> - {{estabelecimento.endereco.bairro}}</span>
                                <span id="localidadeEstabelecimento"> / {{estabelecimento.endereco.localidade}}</span>

                                <p id="statustext" class="status-text rb"
                                    style="color:{{estabelecimento.painel.colorFonte}}"><i class="fas fa-circle"
                                        style="font-size: 12px;color:green"></i> Aberto</p>
                                <center>
                                    <hr class="w-25">
                                </center>
                                <input type="text" class="search-sm rb"
                                    style="border-color:black;">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<form method="POST" id="file01-upload" action="/configuracao/upload/{{estabelecimento._id}}"
    enctype="multipart/form-data">
    <input type="text" name="tipo" value="logo" hidden>
    <input type="file" id="file01" name="file" class="file" hidden>
</form>
<script>
    $('#file01').change(() => {
        $('#file01-upload').submit()
    })
</script>

<form method="POST" id="file02-upload" action="/configuracao/upload/{{estabelecimento._id}}"
    enctype="multipart/form-data">
    <input type="text" name="tipo" value="capa" hidden>
    <input type="file" id="file02" name="file" class="file" hidden>
</form>
<script>
    $('#file02').change(() => {
        $('#file02-upload').submit()
        res.send('/configuracao/delete/{{estabelecimento._id}}')
    })
</script>

<script>
    window.onload = function () {
        var inputColor = document.querySelector('[name=colorFundo]');
        var inputColor2 = document.querySelector('[name=colorFonte]');
        var inputNome = document.querySelector('[name=nome]');
        var inputEndereco = document.querySelector('[name=logradouro]');
        var inputNumero = document.querySelector('[name=numero]');
        var inputBairro = document.querySelector('[name=bairro]');
        inputColor.oninput = function () {
            $("#backcolor").css("background-color", inputColor.value);
        }
        inputColor2.oninput = function () {
            $("#nomeEstabelecimento").css("color", inputColor2.value);
            $("#enderecoEstabelecimento").css("color", inputColor2.value);
            $("#numeroEstabelecimento").css("color", inputColor2.value);
            $("#bairroEstabelecimento").css("color", inputColor2.value);
            $("#localidadeEstabelecimento").css("color", inputColor2.value);
            $("#statustext").css("color", inputColor2.value);
            $("#categoria").css("color", inputColor2.value);
        }
        inputNome.oninput = function () {
            $("#nomeEstabelecimento").text(inputNome.value);
        }
        inputEndereco.oninput = function () {
            $("#enderecoEstabelecimento").text(inputEndereco.value);
        }
        inputNumero.oninput = function () {
            $("#numeroEstabelecimento").text(" - " + inputNumero.value);
        }
        inputBairro.oninput = function () {
            $("#bairroEstabelecimento").text(" - " + inputBairro.value);
        }
    }
</script>


<script> //QRCODE
$('.generate-qr-code').on('click', function(){
$('#qrcode').empty();
$('#qrcode').css('margin-bottom',90);
$('#qrcode').css({
'width' : $('.qr-size').val(),
'height' : $('.qr-size').val()
})

$('#qrcode').qrcode({width: $('.qr-size').val(),height: $('.qr-size').val(),text:'https://'+ $('.qr-url').val()});

});
</script>

<script>
document.getElementById("copybtn").addEventListener("click", copy_btt);

function copy_btt() {
    var copyText = document.getElementById("url");
    var textArea = document.createElement("textarea");
    textArea.value = copyText.textContent;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand("Copy");
    textArea.remove();
   $(document).ready(()=>{    
            Swal.fire({
                toast: true,
                title: 'Copiado para área de transferência',
                position: 'top-right',
                background: "#20853b",
                showConfirmButton: false,
                showCloseButton: true,
                timer: 5000,
                timerProgressBar: true,
                customClass: {
                    title: 'font-title-notificacao',                              
                }
            })
        })
}
</script>

{{>usuario/_rodape}}

{{>_msg}}