{{>usuario/_top-css}}


<div class="container-fluid bg-soft">
    <div class="row">
        <div class="col-12">
            {{>usuario/_menu}}

            <main class="content">

                <div class="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                            <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
                            <li class="breadcrumb-item"><a href="#">Painel De Vendas</a></li>

                        </ol>
                    </nav>
                </div>

                <div class="row">

                    <div class="col-12 col-xl-8">
                        <div class="card card-body bg-white border-light shadow-sm mb-4">
                            <form action="/configuracao/edit-config-painel" method="POST">
                                <input type="text" name="idPainel" id="idPainel" value="{{estabelecimento._id}}" hidden
                                    readonly>
                                <div class="row">
                                    <div class="col-md">
                                        <div style="border-radius: 25px;border-color:white">
                                            <br>
                                            <img src="/usuario/assets/img/favicon/logoApp.png"
                                                class="rounded-circle rounded border logo-image-st" id="imgst">
                                        </div>
                                        </div>
                                          <div class="col-md mt-5 mr-9">
                                        <div>
                                            <h6>Link para pedidos:</h6>
                                            <a href="/pedido/{{estabelecimento.url}}" id="url" name="url"
                                                style="color: #5A7FFF;">hotpedidos.com/estabelecimento/{{estabelecimento.url}}</a>
                                        </div>
                                    </div>
                                </div>
                                <br> <br>
                                <div class="row g-2">

                                    <div class="col-md">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="nome" name="nome"
                                                placeholder="0" value="{{estabelecimento.nomePainel}}" required>
                                            <label for="nome">Nome do estabelecimento*</label>
                                        </div>
                                    </div>
                                    </center>
                                </div><br>
                                <div class="row g-2">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" value="{{estabelecimento.endereco.logradouro}}"
                                                class="form-control" id="logradouro" name="logradouro" placeholder="0"
                                                required>
                                            <label for="logradouro">Endereço*</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control"
                                                value="{{estabelecimento.endereco.numero}}" id="numero" name="numero"
                                                placeholder="0" required>
                                            <label for="numero">N°*</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-floating">
                                            <input type="text" class="form-control"
                                                value="{{estabelecimento.endereco.bairro}}" id="bairro" name="bairro"
                                                placeholder="0" required>
                                            <label for="bairro">Bairro*</label>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-md-3sm">
                                        <h6>Carregar logo</h6>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="file-input">
                                            <input type="file" id="file" onchange="readURL(this);" class="file">
                                            <input type="text" name="base64TipoDocumento1" id="base64TipoDocumento1"
                                                hidden>
                                            <label for="file">
                                                Selecionar
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3sm">
                                        <h6>Cor do fundo <i class="fas fa-pencil-alt"></i></h6>
                                       
                                    </div>
                                    <div class="col-md mr-2">
                                        <input type="color" value="{{estabelecimento.painel.colorFundo}}"
                                            name="colorFundo" id="colorFundo" class="color-circle">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3sm">
                                        <h6>Imagem de capa</h6>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="file-input">
                                            <input type="file" id="file-capa" onchange="readURL(this);" class="file">
                                            <input type="text" name="base64TipoDocumento2" id="base64TipoDocumento2"
                                                hidden>
                                            <label for="file-capa">
                                                Selecionar
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3sm">
                                        <h6>Cor da fonte <i class="fas fa-pencil-alt"></i></h6>
                                    </div>
                                    <div class="col-md mr-2">
                                        <input type="color" value="{{estabelecimento.painel.colorFonte}}"
                                            name="colorFonte" id="colorFonte" class="color-circle">
                                    </div>
                                </div>
                                <br><br><br>
                                <div>
                                    <button type="submit" class="save-button">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <center><label>Pré-visualização:</label></center>
                        <div class="smartphone" style="background:{{estabelecimento.painel.colorFundo}};"
                            id="backcolor">
                            <div class="container-md capa-image-sm" id="img2">
                                <center>
                                    <div style="border-radius: 25px;border-color:white">
                                        <br>
                                        <img src="/usuario/assets/img/favicon/logoApp.png"
                                            class="rounded-circle rounded border logo-image" id="img1">
                                    </div>
                            </div>
                            <br>
                            <center>
                                <div style="background-color:green;width: 80px;border-radius:20px;margin-top:-16px;position:relative;">
                                    <span style="color: white;">Aberto</span>
                                </div>
                                <div>
                                    <span
                                        style="font-weight: bold;font-size:large;color:{{estabelecimento.painel.colorFonte}};"
                                        id="nomeEstabelecimento">{{estabelecimento.nomePainel}}</span>
                                </div>
                                <i class="fas fa-map-marker-alt text-danger" style="font-size: small;"></i>
                                <span style="color:{{estabelecimento.painel.colorFonte}};font-size: small;"
                                    id="enderecoEstabelecimento">{{estabelecimento.endereco.logradouro}}</span>
                                <span style="color:{{estabelecimento.painel.colorFonte}};font-size: small;"
                                    id="numeroEstabelecimento"> -
                                    {{estabelecimento.endereco.numero}}</span>
                                <span style="color:{{estabelecimento.painel.colorFonte}};font-size: small;"
                                    id="bairroEstabelecimento"> -
                                    {{estabelecimento.endereco.bairro}}</span>
                                <span id="localidadeEstabelecimento"
                                    style="color:{{estabelecimento.painel.colorFonte}};font-size: small;"> /
                                    {{estabelecimento.endereco.localidade}}</span>
                            </center>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>


<script>
    window.onload = function () {
        var inputColor = document.querySelector('[name=colorFundo]');
        var inputColor2 = document.querySelector('[name=colorFonte]');
        var inputNome = document.querySelector('[name=nome]');
        var inputEndereco = document.querySelector('[name=logradouro]');
        var inputNumero = document.querySelector('[name=numero]');
        var inputBairro = document.querySelector('[name=bairro]');
        inputColor.oninput = function () {
            $("#backcolor").css("background-color", inputColor.value);
        }
        inputColor2.oninput = function () {
            $("#nomeEstabelecimento").css("color", inputColor2.value);
            $("#enderecoEstabelecimento").css("color", inputColor2.value);
            $("#numeroEstabelecimento").css("color", inputColor2.value);
            $("#bairroEstabelecimento").css("color", inputColor2.value);
            $("#localidadeEstabelecimento").css("color", inputColor2.value);
        }
        inputNome.oninput = function () {
            $("#nomeEstabelecimento").text(inputNome.value);
        }
        inputEndereco.oninput = function () {
            $("#enderecoEstabelecimento").text(inputEndereco.value);
        }
        inputNumero.oninput = function () {
            $("#numeroEstabelecimento").text(" - " + inputNumero.value);
        }
        inputBairro.oninput = function () {
            $("#bairroEstabelecimento").text(" - " + inputBairro.value);
        }
    }
</script>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            console.log(input.id)
            var reader = new FileReader();
            reader.onload = function (e) {
                if (input.id == "file") {
                    $('#img1').attr('src', e.target.result);
                    $('#imgst').attr('src', e.target.result);
                    $('#base64TipoDocumento1').val(e.target.result);
                } else if (input.id == "file-capa") {
                    $('#img2').css('background-image', 'url(' + e.target.result + ')');
                    $('#base64TipoDocumento2').val(e.target.result);
                }
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

{{>usuario/_rodape}}

{{>_msg}}