{{>usuario/_top-css}}
<style>

</style>
<style>
    input[type="radio"] {
        position: absolute;
        visibility: hidden;
    }

    .label-avatar {
        display: block;
        border: 3px solid rgb(255, 255, 255);
        float: left;
    }

    input[type="radio"]:checked+.label-avatar {
        border-color: rgb(155, 155, 250);
    }
</style>

<style>
    .file {
        opacity: 0;
        width: 0.1px;
        height: 0.1px;
        position: absolute;
    }

    .file-input label {
        display: block;
        position: relative;
        width: 150px;
        height: 50px;
        border-radius: 25px;
        background: rgba(36, 46, 64);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: transform .2s ease-out;
    }

    input:hover+label,
    input:focus+label {
        transform: scale(1.02);
    }


    .file-name {
        position: absolute;
        bottom: -35px;
        left: 10px;
        font-size: 0.85rem;
        color: #555;
    }
</style>

<div class="container-fluid bg-soft">
    <div class="row">
        <div class="col-12">
            {{>usuario/_menu}}

            <main class="content">

                <div class="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                            <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
                            <li class="breadcrumb-item"><a href="#">Painel De Vendas</a></li>

                        </ol>
                    </nav>
                </div>

                <div class="row">

                    <div class="col-12 col-xl-8">
                        <div class="card card-body bg-white border-light shadow-sm mb-4">
                            <h2 class="h5 mb-4">Configuração</h2>
                            <center>
                                <form action="/configuracao/edit-config-painel" method="POST">
                                    <input type="text" name="idPainel" id="idPainel" value="{{estabelecimento._id}}"
                                        hidden readonly>
                                    <div class="row">
                                        <div class="col-md">
                                            <div>
                                                <h6>Link do painel</h6>
                                                <a href="/pedido/{{estabelecimento.url}}" id="url"
                                                    name="url">hotpedidos.com/pedido/{{estabelecimento.url}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row g-2">
                                        <center>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input type="text" class="form-control" id="nome" name="nome"
                                                        placeholder="0" value="{{estabelecimento.nomePainel}}" required>
                                                    <label for="nome">Nome do estabelecimento*</label>
                                                </div>
                                            </div>
                                        </center>
                                    </div><br>
                                    <div class="row g-2">
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input type="text" value="{{estabelecimento.endereco.logradouro}}"
                                                    class="form-control" id="logradouro" name="logradouro"
                                                    placeholder="0" required>
                                                <label for="logradouro">Endereço*</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-floating">
                                                <input type="text" class="form-control"
                                                    value="{{estabelecimento.endereco.numero}}" id="numero"
                                                    name="numero" placeholder="0" required>
                                                <label for="numero">N°*</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                <input type="text" class="form-control"
                                                    value="{{estabelecimento.endereco.bairro}}" id="bairro"
                                                    name="bairro" placeholder="0" required>
                                                <label for="bairro">Bairro*</label>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="row">
                                        <div class="col-md">
                                            <h6>Sua logo</h6>
                                            <span class="file-name"></span>
                                            <div class="file-input">
                                                <input type="file" id="file" onchange="readURL(this);" class="file">
                                                <input type="text" name="base64TipoDocumento1" id="base64TipoDocumento1"
                                                    hidden>
                                                <label for="file">
                                                    Selecionar
                                                </label>

                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <h6>Imagem de capa</h6>
                                            <div class="file-input">
                                                <input type="file" id="file-capa" onchange="readURL(this);"
                                                    class="file">
                                                <input type="text" name="base64TipoDocumento2" id="base64TipoDocumento2"
                                                    hidden>
                                                <label for="file-capa">
                                                    Selecionar
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div>
                                                <h6>Cor de fundo</h6>
                                                <input style="width: 50px;border-radius: 50%;" class="form-control"
                                                    id="colorFundo" value="{{estabelecimento.painel.colorFundo}}"
                                                    name="colorFundo" type="color">
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div>
                                                <h6>Cor da fonte</h6>
                                                <input style="width: 50px;border-radius: 50%;" class="form-control"
                                                    id="colorFonte" value="{{estabelecimento.painel.colorFonte}}"
                                                    name="colorFonte" type="color">
                                            </div>
                                        </div>
                                    </div>
                            </center>
                            <hr>

                            <div class="mt-5">
                                <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
                            </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <center><label style=>Pré-visualização:</label></center>
                        <div class="smartphone">
                            <div class="card border-light text-center p-0">
                                <div class="profile-cover rounded-top"><img src="/usuario/assets/img/favicon/capaApp.png" style="width:100%;height:200px;background-size: 100%;"
                                        id="img2">
                                </div>
                                <span style="color: white;background-color:green">Aberto</span>
                                <div class="card-body"
                                    style="height: 297px;background:{{estabelecimento.painel.colorFundo}};"
                                    id="backcolor">
                                    <img id="img1" class="user-avatar smart-avatar rounded-circle mx-auto mt-n7 mb-4"
                                        src="/usuario/assets/img/favicon/logoApp.png">
                                    <span
                                        style="font-weight: bold;font-size:large;color:{{estabelecimento.painel.colorFonte}};"
                                        id="nomeEstabelecimento">{{estabelecimento.nomePainel}}</span><br>
                                    <i class="fas fa-map-marker-alt text-danger"></i>
                                    <span style="color:{{estabelecimento.painel.colorFonte}};"
                                        id="enderecoEstabelecimento">{{estabelecimento.endereco.logradouro}}</span>
                                    <span style="color:{{estabelecimento.painel.colorFonte}};"
                                        id="numeroEstabelecimento"> - {{estabelecimento.endereco.numero}}</span>
                                    <span style="color:{{estabelecimento.painel.colorFonte}};"
                                        id="bairroEstabelecimento"> - {{estabelecimento.endereco.bairro}}</span>
                                    <span id="localidadeEstabelecimento"
                                        style="color:{{estabelecimento.painel.colorFonte}};"> - {{estabelecimento.endereco.localidade}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        var inputColor = document.querySelector('[name=colorFundo]');
        var inputColor2 = document.querySelector('[name=colorFonte]');
        var inputNome = document.querySelector('[name=nome]');
        var inputEndereco = document.querySelector('[name=logradouro]');
        var inputNumero = document.querySelector('[name=numero]');
        var inputBairro = document.querySelector('[name=bairro]');
        inputColor.oninput = function () {
            $("#backcolor").css("background-color", inputColor.value);
        }
        inputColor2.oninput = function () {
            $("#nomeEstabelecimento").css("color", inputColor2.value);
            $("#enderecoEstabelecimento").css("color", inputColor2.value);
            $("#numeroEstabelecimento").css("color", inputColor2.value);
            $("#bairroEstabelecimento").css("color", inputColor2.value);
            $("#localidadeEstabelecimento").css("color", inputColor2.value);
        }
        inputNome.oninput = function () {
            $("#nomeEstabelecimento").text(inputNome.value);
        }
        inputEndereco.oninput = function () {
            $("#enderecoEstabelecimento").text(inputEndereco.value);
        }
        inputNumero.oninput = function () {
            $("#numeroEstabelecimento").text(" - "+inputNumero.value);
        }
        inputBairro.oninput = function () {
            $("#bairroEstabelecimento").text(" - "+inputBairro.value);
        }

    }
</script>

<!--
<script>
    const file = document.querySelector('#file')
    file.addEventListener('change', (e) => {
        const [file] = e.target.files;
        const { name: fileName, size } = file;
        const fileSize = (size / 1000).toFixed(2);
        const fileNameAndSize = `${fileName} - ${fileSize}KB`;
        document.querySelector('.file-name').textContent = fileNameAndSize;
    });
</script>

<script>
    const file = document.querySelector('#file-capa')
    file.addEventListener('change', (e) => {
        const [file] = e.target.files;
        const { name: fileName, size } = file;
        const fileSize = (size / 1000).toFixed(2);
        const fileNameAndSize = `${fileName} - ${fileSize}KB`;
        document.querySelector('.file-capa').textContent = fileNameAndSize;
    });
</script>
-->
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            console.log(input.id)
            var reader = new FileReader();
            reader.onload = function (e) {
                if (input.id == "file") {
                    $('#img1').attr('src', e.target.result);
                    $('#base64TipoDocumento1').val(e.target.result);
                } else if (input.id == "file-capa") {
                    $('#img2').attr('src', e.target.result);
                    $('#base64TipoDocumento2').val(e.target.result);
                }
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

{{>usuario/_rodape}}

{{>_msg}}