{{>usuario/_top-css}}

<div class="container-fluid bg-soft">
<div class="row">
<div class="col-12">
{{>usuario/_menu}}

<main class="content">
    
    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a>Configuração</a></li>
                <li class="breadcrumb-item"><a href="/configuracao/estabelecimentos">Estabelecimentos</a></li>
            </ol>
        </nav>
    </div>

    <button type="button" class="btn btn-secondary btn-sm mb-4 float-end " data-bs-toggle="modal" data-bs-target="#modal-edit-estabelecimento">Editar Informações</button>
    {{#each estabelecimentos}}
    <button type="button" class="btn btn-secondary btn-sm mb-4 float-end "><a href="/configuracao/painel/{{estabelecimentosVinculados._id}}">Painel de Vendas</button></a>
{{/each}}
    <!-- Modal edit estabelecimento START -->
    <div class="modal fade" id="modal-edit-estabelecimento" tabindex="-1" aria-labelledby="modal-edit-estabelecimentoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-edit-estabelecimentoLabel">Adicionar Estabelecimento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/configuracao/edit-estabelecimento" method="post">
                    <div class="row">
                        <div class="form-floating  col-6">
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="-" value="{{estabelecimento.nome}}">
                            <label for="nome" class="ml-2">Nome</label>
                        </div>
                        <div class="form-floating  col-6">
                            <input type="text" class="form-control" id="url" name="url" placeholder="-" value="{{estabelecimento.url}}">
                            <label for="url" class="ml-2">URL do site</label>
                            <span style="font-size: smaller;">* Deve ser escrito tudo junto, exemplo "deliveryzapentregas"</span>
                        </div>
                    </div>

                    <hr>

                    <h5 class="mt-4">Endereço</h5>
                    <div class="row">
                        <div class="form-floating mb-3 col-6">
                            <input type="text" class="form-control" id="logradouro" name="logradouro" placeholder="-" value="{{estabelecimento.endereco.logradouro}}">
                            <label for="logradouro" class="ml-2">Logradouro</label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            <input type="text" class="form-control" id="bairro" name="bairro" placeholder="-" value="{{estabelecimento.endereco.bairro}}">
                            <label for="bairro" class="ml-2">Bairro</label>
                        </div>
                        <div class="form-floating mb-3 col-4">
                            <input type="text" class="form-control" id="cidade" name="cidade" placeholder="-" value="{{estabelecimento.endereco.localidade}}">
                            <label for="cidade" class="ml-2">Cidade</label>
                        </div>
                        <div class="form-floating mb-3 col-3">
                            <input type="text" class="form-control" id="cep" name="cep" placeholder="-" value="{{estabelecimento.endereco.cep}}">
                            <label for="cep" class="ml-2">CEP</label>
                        </div>
                        <div class="form-floating mb-3 col-2">
                            <input type="text" class="form-control" id="numero" name="numero" placeholder="-" value="{{estabelecimento.endereco.numero}}">
                            <label for="numero" class="ml-2">Número</label>
                        </div>
                        <div class="col-3 form-floating">
                            <select class="form-select" name="uf" id="uf">
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                            <label for="uf" class="ml-2">Estado</label>
                        </div>
                    </div>

                    <hr>

                    <h5 class="mt-4">Estabelecimento</h5>
                    <div class="row">
                        <div class="form-floating mb-3 col-4">
                            <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder="-" value="{{estabelecimento.cnpj}}">
                            <label for="cnpj" class="ml-2">CNPJ</label>
                        </div>
                        <div class="form-floating mb-3 col-4">
                            <input type="text" class="form-control" id="telefone" name="telefone" placeholder="-" value="{{estabelecimento.telefone}}">
                            <label for="telefone" class="ml-2">Telefone</label>
                        </div>
                    </div>

                    <hr>

                    <h5 class="mt-4">Integração Mercado Pago</h5>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="useMercadoPago" name="useMercadoPago" value="true">
                        <label class="form-check-label" for="useMercadoPago">Utilizar Mercado Pago</label>
                    </div>
                    {{#if estabelecimento.mercadoPago.ativo}}
                    <div class="row">
                        <div class="form-floating mb-3 col-6">
                            <input type="text" class="form-control" id="publickey" name="publickey" placeholder="-" value="{{estabelecimento.mercadoPago.publickey}}" readonly>
                            <label for="publickey" class="ml-2">Public Key</label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            <input type="text" class="form-control" id="acessToken" name="acessToken" placeholder="-" value="{{estabelecimento.mercadoPago.acessToken}}" readonly>
                            <label for="acessToken" class="ml-2">Acess Token</label>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="form-floating mb-3 col-6">
                            <input type="text" class="form-control" id="publickey" name="publickey" placeholder="-" value="{{estabelecimento.mercadoPago.publickey}}">
                            <label for="publickey" class="ml-2">Public Key</label>
                        </div>
                        <div class="form-floating mb-3 col-6">
                            <input type="text" class="form-control" id="acessToken" name="acessToken" placeholder="-" value="{{estabelecimento.mercadoPago.acessToken}}">
                            <label for="acessToken" class="ml-2">Acess Token</label>
                        </div>
                    </div>
                    {{/if}}

                    <script>
                        $('#uf option[value="{{estabelecimento.endereco.uf}}"').prop('selected', 'selected').change();
                        $('#useMercadoPago').prop('checked', {{estabelecimento.useMercadoPago}})
                    </script>

                    <input type="text" name="idEstabelecimento" value="{{estabelecimento._id}}" hidden>

                    <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-light btn-sm">Cancelar</button>
                    
                    <script>
                        $('#cep').mask('00000-000')
                        $('#cnpj').mask('00.000.000/0000-00')

                        var SPMaskBehavior = function (val) {
                        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
                        },
                        spOptions = {
                        onKeyPress: function(val, e, field, options) {
                            field.mask(SPMaskBehavior.apply({}, arguments), options);
                            }
                        };

                        $('#telefone').mask(SPMaskBehavior, spOptions);
                    </script>
                </form>
            </div>
            </div>
        </div>
    </div>
    <!-- Modal edit estabelecimento END -->

    <br><br><br>
    
    <div class="row ">
        <div class="col-12 col-lg-6 mb-4 ">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light d-flex justify-content-between">
                    <h2 class="h5 mb-0">Usuarios</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush list my--3">
                        {{#each estabelecimento.usuarios}}
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                            <div class="col-auto">
                                <!-- Avatar -->
                                <a href="#" class="user-avatar">
                                    <img class="rounded-circle" src="/img/perfil-avatar/svg/{{perfilAvatar}}.svg">
                                </a>
                            </div>
                            <div class="col-auto ml--2">
                                <h4 class="h6 mb-0">
                                    <a href="#">{{primeiroNome}}</a>
                                </h4>
                            </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                
            </div>
        </div>
        

        <div class="col-12 col-lg-6 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light d-flex justify-content-between">
                    <h2 class="h5 mb-0">Horários Funcionamento</h2>
                    <a  class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-add-horario">Adicionar</a>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush list my--3">
                        <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">Dia</th>
                                <th scope="col">Inicio</th>
                                <th scope="col">Fim</th>
                                <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <form action="/configuracao/delete-horarioFuncionamento" method="post">
                                <input type="text" name="idEstabelecimento" value="{{estabelecimento._id}}" hidden>
                                {{#each estabelecimento.horarioFuncionamento}}
                                <tr>
                                    <th scope="row">{{dia}}</th>
                                    <td>{{inicio}}</td>
                                    <td>{{fim}}</td>
                                    <td><button type="submit" class="btn btn-white btn-sm text-danger" name="idHorario" value="{{_id}}" style="font-size: small;">X</button></td>
                                </tr>
                                {{/each}}
                                </form>
                            </tbody>
                        </table>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Modal add horarios START-->
        <div class="modal fade" id="modal-add-horario" tabindex="-1" aria-labelledby="modal-add-horarioLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-add-horarioLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/configuracao/add-horario-estabelecimento" method="post">
                        <div class="form-floating">
                            <select class="form-select" name="dia" id="dia">
                                <option value="Domingo">Domingo</option>
                                <option value="Segunda-feira">Segunda-feira</option>
                                <option value="Terça-feira">Terça-feira</option>
                                <option value="Quarta-feira">Quarta-feira</option>
                                <option value="Quinta-feira">Quinta-feira</option>
                                <option value="Sexta-feira">Sexta-feira</option>
                                <option value="Sabado">Sabado</option>
                            </select>
                            <label for="dia" class="ml-2">Dia Semana</label>
                        </div>
                        <div class="row mt-2">
                            <div class="form-floating  col-6">
                                <input type="text" class="form-control mask-hora" id="inicio" name="inicio" placeholder="-" required>
                                <label for="inicio" class="ml-2">Inicio</label>
                            </div>
                            <div class="form-floating  col-6">
                                <input type="text" class="form-control mask-hora" id="fim" name="fim" placeholder="-" required>
                                <label for="fim" class="ml-2">Fim</label>
                            </div>
                        </div>
                        
                        <input type="text" name="idEstabelecimento" value="{{estabelecimento._id}}" hidden>
                        <button type="submit" class="btn btn-primary btn-sm mt-2">Adicionar</button>

                        <script>
                            $(".mask-hora").mask('00:00')
                        </script>
                    </form>
                </div>
                </div>
            </div>
        </div>
        <!-- Modal add horarios END-->

    </div>

</main>

</div>
</div>
</div>

{{>usuario/_rodape}}

{{>_msg}}
