<link rel="stylesheet" href="/js/tagify/tagify.css">
<script src="/js/tagify//jQuery.tagify.min.js"></script>
<style>
    .tagify--outside{
        border: 0;
    }

    .tagify--outside .tagify__input{
        order: 1;
        flex: 100%;
        border: 1px solid var(--tags-border-color);
        transition: .1s;
    }

    .tagify--outside .tagify__input:hover{ border-color:var(--tags-hover-border-color); }
    .tagify--outside.tagify--focus .tagify__input{
        transition:0s;
        border-color: var(--tags-focus-border-color);
    }

</style>

<!--Start of Tawk.to Script-->
<script type="text/javascript" >
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/612a40fd649e0a0a5cd364f4/1fe73c5pm';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->



<nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse " data-simplebar>
    <div class="sidebar-inner px-3 pt-4 not-printable">
        <!-- menu para mobile -->
        <div
            class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="user-avatar lg-avatar mr-4">
                    <img src="/img/perfil-avatar/svg/{{usuarioLogado.perfilAvatar}}.svg" class="card-img-top rounded-circle border-white" >
                </div>
                <div class="d-block">
                    <h2 class="h6">{{usuarioLogado.primeiroNome}}</h2>
                    <a href="/acessos/logout" class="btn btn-secondary text-dark btn-xs"><span class="mr-2"><span class="fas fa-sign-out-alt"></span></span>Sair</a>
                </div>
            </div>
            <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse" data-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation"></a>
            </div>
        </div>

       <center><img style="width: 150px;height: 78px;" src="/usuario/assets/img/favicon/logo-menu.png"></center> 
        <br>
        <section class="nav-item" id="dash">
            <a href="/dashboard" class="nav-link">
                <span class="sidebar-icon"><span class="fas fa-chart-pie"></span></span>
                <span>Dashboard</span>
            </a>
        </section>
        <ul class="nav flex-column">
            <li class="nav-item" id="ped">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                    data-toggle="collapse" data-target="#submenu-app">
                    <span>
                        <span class="sidebar-icon"><span class="fas fa-table"></span></span>
                        Pedido
                    </span>
                    <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
                </span>
                <div class="multi-level collapse " role="list" id="submenu-app" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item "><a class="nav-link" href="/pedido/pedidos"><span>Pedidos</span></a></li>
                        <li class="nav-item "><a class="nav-link" href="/pedido/comandas"><span>Comandas</span></a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item" id="prod">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                    data-toggle="collapse" data-target="#submenu-pages">
                    <span>
                        <span class="sidebar-icon"><span class="far fa-file-alt"></span></span>
                        Produto
                    </span>
                    <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
                </span>
                <div class="multi-level collapse " role="list" id="submenu-pages" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item"><a class="nav-link" href="/produto/produtos"><span>Produtos</span></a></li>

                        <li role="separator" class="dropdown-divider  border-black"></li>

                        <li class="nav-item"><a class="nav-link" href="/produto/adicionais"><span>Adicionais</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/produto/ingredientes"><span>Ingredientes</span></a></li>

                        <li role="separator" class="dropdown-divider  border-black"></li>

                        <li class="nav-item " id="mod">
                            <span class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                                data-toggle="collapse" data-target="#submenu-modelos">
                                <span>
                                    Modelos
                                </span>
                            </span>
                            <div class="multi-level collapse " role="list" id="submenu-modelos" aria-expanded="false">
                                <ul class="flex-column nav" >
                                    <li class="nav-item"><a class="nav-link" style="font-size: small;" href="/produto/modelo-opcoes"><span>- Modelo Opções</span></a></li>
                                    <li class="nav-item"><a class="nav-link" style="font-size: small;" href="/produto/modelo-adicionais"><span>- Modelo Adicionais</span></a></li>
                                </ul>
                            </div>
                        </li>

                        <li role="separator" class="dropdown-divider  border-black"></li>

                        <li class="nav-item " id="cat">
                            <span class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                                data-toggle="collapse" data-target="#submenu-categorias">
                                <span>
                                    Categorias
                                </span>
                            </span>
                            <div class="multi-level collapse " role="list" id="submenu-categorias" aria-expanded="false">
                                <ul class="flex-column nav" >
                                    <li class="nav-item"><a class="nav-link" style="font-size: small;" href="/produto/categoria-produtos"><span>- Categoria Produtos</span></a></li>
                                    <li class="nav-item"><a class="nav-link" style="font-size: small;" href="/produto/categoria-adicionais"><span>- Categoria Adicionais</span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item" id="col">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                    data-toggle="collapse" data-target="#submenu-components">
                    <span>
                        <span class="sidebar-icon"><span class="fas fa-box-open"></span></span>
                        Colaboradores
                    </span>
                    <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
                </span>
                <div class="multi-level collapse "  role="list" id="submenu-components" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item"><a class="nav-link" href="/usuario/usuarios"><span>Usuarios</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/entregador/entregadores"><span>Entregadores</span></a></li>
                    </ul>
                </div>
            </li>

            <li role="separator" class="dropdown-divider mt-4 mb-3 border-black"></li>

            <li class="nav-item " id="conf">
                <span class="nav-link  collapsed  d-flex justify-content-between align-items-center"
                    data-toggle="collapse" data-target="#submenu-configs">
                    <span>
                        <span class="sidebar-icon"><span class="fas fa-cog"></span></span>
                        Configuração
                    </span>
                    <span class="link-arrow"><span class="fas fa-chevron-right"></span></span>
                </span>
                <div class="multi-level collapse " role="list" id="submenu-configs" aria-expanded="false">
                    <ul class="flex-column nav">
                        <li class="nav-item"><a class="nav-link" href="/configuracao/estabelecimentos"><span>Estabelecimentos</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</nav>

<nav class="navbar navbar-top navbar-expand navbar-dashboard navbar-dark pl-0 pr-2 pb-0">
    <div class="container-fluid px-0 not-printable">
        <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
            <div class="d-flex">

            </div>
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center">
                <!-- Funcao de notificacoes 
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark mr-lg-3 icon-notifications"
                        data-unread-notifications="true" href="#" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon icon-sm">
                            <span class="fas fa-bell bell-shake"></span>
                            <span class="icon-badge rounded-circle unread-notifications"></span>
                        </span>
                    </a>
                    <div
                        class="dropdown-menu dashboard-dropdown dropdown-menu-lg dropdown-menu-center mt-2 py-0">
                        <div class="list-group list-group-flush">
                            <a href="#"
                                class="text-center text-primary font-weight-bold border-bottom border-light py-3">Notifications</a>
                            
                            <a href="#"
                                class="dropdown-item text-center text-primary font-weight-bold py-3">View
                                all</a>
                        </div>
                    </div>
                </li> --> 

                <li class="nav-item  mr-4" data-bs-toggle="modal" data-bs-target="#modal-estabelecimentosSelecionados"  style="cursor: pointer;">
                    <i class="fas fa-store"></i> Estabelecimentos
                </li> 

                <!-- Modal estabelecimentosSelecionados START-->
                <div class="modal fade" id="modal-estabelecimentosSelecionados" tabindex="-1" aria-labelledby="modal-estabelecimentosSelecionadosLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-estabelecimentosSelecionadosLabel">Estabelecimentos Selecionados</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>Selecione os estabelecimentos que deseja filtrar nas paginas</h6>
                            <form action="/usuario/edit-estabelecimentosSelecionados" method="post">
                                <input  class='tagify--outside' name="estabelecimentosSelecionados" id="estabelecimentosSelecionados">
                                <button type="submit" class="btn btn-primary btn-sm mt-2">Salvar</button>
                            </form>
                        </div>
                        </div>
                    </div>

                    <script>
                        var tagestabelecimentosSelecionados = document.querySelector('input[id=estabelecimentosSelecionados]')
                        var tagifyestabelecimentosSelecionados = new Tagify(tagestabelecimentosSelecionados, {
                            whitelist: [ {{#each usuarioLogado.estabelecimentosVinculados}} {'idEstabelecimento': '{{_id}}', value: '{{nome}}' },  {{/each}} ],
                            editTags: false,
                            dropdown: {
                                position: "input",
                                maxItems: Infinity,
                                closeOnSelect : false,
                                enabled : 0 // always opens dropdown when input gets focus
                            },
                        })
                        tagifyestabelecimentosSelecionados.addTags([{{#each usuarioLogado.estabelecimentosSelecionados}} {'idEstabelecimento': '{{_id}}', value: '{{nome}}' },  {{/each}}])
                    </script>
                </div>
                <!-- Modal estabelecimentosSelecionados END-->
                
                <li class="nav-item dropdown">
                    <a class="nav-link pt-1 px-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="media d-flex align-items-center">
                        <img class="user-avatar md-avatar rounded-circle"  src="/img/perfil-avatar/svg/{{usuarioLogado.perfilAvatar}}.svg">
                        <div class="media-body ml-2 text-dark align-items-center d-none d-lg-block">
                        <span class="mb-0 font-small font-weight-bold">{{usuarioLogado.primeiroNome}}</span>
                        </div>
                    </div>
                    </a>
                    <div class="dropdown-menu dashboard-dropdown dropdown-menu-right mt-2">
                        <a class="dropdown-item font-weight-bold" href="/usuario/perfil"><span class="far fa-user-circle"></span>Meu Perfil</a>
                        {{#if usuarioLogado.usuarioMaster}}<a class="dropdown-item font-weight-bold" href="/fatura/faturas"><span class="fas fa-wallet"></span>Faturas</a>{{/if}}
                        <a class="dropdown-item font-weight-bold" href="/suporte"><span
                                class="fas fa-question-circle"></span>Ajuda</a>
                        <div role="separator" class="dropdown-divider"></div>
                        <a class="dropdown-item font-weight-bold" href="/acessos/logout"><span class="fas fa-sign-out-alt text-danger"></span>Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

