<link rel="stylesheet" type="text/css" href="/usuario/css/painel.css">

<body style="background:{{estabelecimento.painel.colorFundo}};">
    <header>
        <div class="container-md capa-painel mt-2" style="background-image: url({{estabelecimento.img.capa.url}})">
            <center>
                <div>
                    <br>
                    <img src="{{estabelecimento.img.logo.url}}"
                        class="rounded-circle rounded border logo-painel">
                </div>
        </div>
        </center>
        <br>
    </header>

</body>

<style>
    .produto-foto: {
        
    }
</style>

<h1 style="color:{{estabelecimento.painel.colorFonte}};" class="estabelecimento" id="nomeEstabelecimento">
    {{estabelecimento.nomePainel}}</h1><br>

<div style="margin-top: -35px;">
    <center>
        <i class="fas fa-map-marker-alt text-danger"></i>
        <h1 style="color:{{estabelecimento.painel.colorFonte}};" class="endereco" id="enderecoEstabelecimento">
            {{estabelecimento.endereco.logradouro}}</h1>
        <h1 style="color:{{estabelecimento.painel.colorFonte}};" class="endereco" id="numeroEstabelecimento"> -
            {{estabelecimento.endereco.numero}}</span>
            <h1 style="color:{{estabelecimento.painel.colorFonte}};" class="endereco" id="bairroEstabelecimento"> -
                {{estabelecimento.endereco.bairro}}</h1>
            <h1 id="localidadeEstabelecimento" style="color:{{estabelecimento.painel.colorFonte}};" class="endereco"> /
                {{estabelecimento.endereco.localidade}}</h1>
    </center>
</div>

<center style="color:{{estabelecimento.painel.colorFonte}};">
    <p class="status-text mt-1" style="color:{{estabelecimento.painel.colorFonte}}"><i class="fas fa-circle"
            style="font-size: 12px;color:green"></i> Aberto</p>
    <hr class="w-25 text-center">
    <input class="search rb" style="border-color:{{estabelecimento.painel.colorFonte}}"><button
        class="search-button ml-3" style="border-color:{{estabelecimento.painel.colorFonte}};"><i
            class="fas fa-search"></i></button>
    <br><br>

    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-finalizarPedido">Finalizar Pedido</button>

    <div class="row">
        {{#each carrinho.produtos}}
        <div class="col-12 col-lg-6  my-2">

            <div class="card bg-light border-light" style="width: 80%; height: 100%">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 text-center mt-2">
                            <img src="{{idProduto.img.foto.url}}" class="mx-auto"
                                style="object-fit: contain; width: 100pxx; height: 100px;">
                        </div>
                        <div class="col-lg-8 mt-2">
                            <p>Nome: {{nome}}</p>
                            <p>TOTAL: <span class="valorFormatar">{{valorTotal}}</span></p>
                            <p>Quantidade: {{quantidade}}</p>
                        </div>
                    </div>

                    <button class="btn btn-dark btn-sm" style="font-size: x-small;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-checkout-{{_id}}">
                        Especificações
                    </button>
                    <div class="collapse mt-2" id="collapse-checkout-{{_id}}">
                        {{#each opcao}}
                            <div class="mt-2">
                                <h6>{{nomeOpcao}}</h6>
                                {{#each opcoes}}
                                    <button class="btn btn-sm btn-light" style="background-color: rgb(189, 189, 189);">{{nome}} <span class="valorFormatar">{{valor}}</span> </button>
                                {{/each}}
                            </div>
                        {{/each}}
                        
                        <div class="mt-4">
                            {{#if adicionais}}
                                <h6>Adicionais</h6>
                                {{#each adicionais}}
                                    <button class="btn btn-sm btn-light" style="background-color: rgb(189, 189, 189);">{{nome}} <span class="valorFormatar">{{valor}}</span> </button>
                                {{/each}}
                            {{/if}}
                        </div>
                        
                    </div>
                    
                    <form action="/estabelecimento/delete-carrinho-painel" method="post">
                        <input name="idCarrinho" class="idCarrinho-delete-produto" hidden  readonly/>
                        <button class="btn btn-light btn-sm float-start text-danger" name="idCarrinhoProduto" value="{{_id}}">Remover</button>
                    </form>
                    
                </div>
            </div>

        </div>
        {{/each}}
    </div>

</center>

<div class="modal fade" id="modal-finalizarPedido" tabindex="-1" aria-labelledby="modal-finalizarPedidoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="retirarLocal" name="retirarLocal" value="true">
                    <label class="form-check-label" for="retirarLocal">Retirar no estabelecimento</label>
                </div>
                <div class="form-check form-switch mb-4">
                    <input class="form-check-input" type="checkbox" id="entrega" name="entrega" value="true" >
                    <label class="form-check-label" for="entrega">Entrega</label>
                </div>

                <form action="/estabelecimento/checkou/finalizar" method="post">

                    <span id="escolha-entrega-retirada"></span>
                    <div class="row">
                        <div class="form-floating mb-3 col-lg-4">
                            <input type="text" class="form-control" id="telefone" name="telefone" placeholder="-">
                            <label for="telefone" style="margin-left: 10px;">Telefone</label>
                        </div>
                        <div class="form-floating  mb-3 col-lg-8">
                            <textarea class="form-control" placeholder="-" id="observacao"></textarea>
                            <label for="observacao" style="margin-left: 10px;">Observação</label>
                        </div>
                    </div>

                    <hr class="">

                    <div class="row">
                        <div class="col-lg-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Produtos</td>
                                        <td class="valorFormatar">{{carrinho.valorTotal}}</td>
                                    </tr>
                                    <tr>
                                        <td>Frete</td>
                                        <td class="valorFormatar">{{estabelecimento.entrega.taxaEntrega}}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-primary">Total</td>
                                        <td class="table-primary" id="valorTotalPedido"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-8">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="radio" id="pagarRecebimento" name="pagamentoTipoSelecionado" value="pagarRecebimento">
                                <label class="form-check-label" for="pagarRecebimento">Pagar no recebimento</label>
                            </div>

                            {{#if estabelecimento.integracao.mercadoPago.statusAtivo}}
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="radio" id="mercadoPago" name="pagamentoTipoSelecionado" value="mercadoPago">
                                    <label class="form-check-label" for="mercadoPago">Mercado Pago</label>
                                </div>
                            {{/if}}

                            <span id="metodo-pagamento"></span>
                        </div>
                    </div>

                    <script>
                        
                        $('#entrega').change(() => {
                            $('#retirarLocal').prop('checked', false)
                            $('#escolha-entrega-retirada').empty()
                            $('#escolha-entrega-retirada').append(`
                                <div class="row">
                                    <div class="form-floating mb-3 col-lg-8">
                                        <input type="text" class="form-control" id="rua" name="rua" placeholder="-" required>
                                        <label for="rua" style="margin-left: 10px;">Rua</label>
                                    </div>
                                    <div class="form-floating mb-3 col-lg-4">
                                        <input type="text" class="form-control" id="bairro" name="bairro" placeholder="-" required>
                                        <label for="bairro" style="margin-left: 10px;">Bairro</label>
                                    </div>
                                    <div class="form-floating mb-3 col-lg-4">
                                        <input type="text" class="form-control" id="cidade" name="cidade" placeholder="-" required>
                                        <label for="cidade" style="margin-left: 10px;">Cidade</label>
                                    </div>
                                    <div class="form-floating mb-3 col-lg-4">
                                        <input type="text" class="form-control" id="cep" name="cep" placeholder="-" required>
                                        <label for="cep" style="margin-left: 10px;">CEP</label>
                                    </div>
                                    <div class="form-floating mb-3 col-lg-4">
                                        <input type="text" class="form-control" id="numero" name="numero" placeholder="-" required>
                                        <label for="numero" style="margin-left: 10px;">Número</label>
                                    </div>
                                </div>
                            `)
                        })

                        $('#retirarLocal').change((e) => {
                            $('#entrega').prop('checked', false)
                            $('#escolha-entrega-retirada').empty()
                        })

                        $('input:radio[name="pagamentoTipoSelecionado"]').change((e) => {
                            if(e.target.value == "mercadoPago"){
                                $('#metodo-pagamento').empty()
                                $('#metodo-pagamento').append(`
                                    <button class="btn btn-success mt-4 w-50 float-end" type="submit" name="formaPagamento" value="mercadoPago">Continuar</button>
                                `)
                            }else if(e.target.value == "pagarRecebimento"){
                                $('#metodo-pagamento').empty()
                                $('#metodo-pagamento').append(`
                                    <div class="row mt-4" >
                                        <div class="form-floating mb-3 col-lg-6">
                                            <select class="form-select" id="meioPagamento" onchange="selectMeioPagamento()" aria-label="Floating label select example">
                                                <option hidden>Selecione</option>
                                                {{#each estabelecimento.configPedidos.meioPagamento}}
                                                    <option value="{{tipo}}">{{nome}}</option>
                                                {{/each}}
                                            </select>
                                            <label for="meioPagamento" style="margin-left: 10px;">Meio de Pagamento</label>
                                        </div>
                                        <div class="mb-3 col-lg-4 " id="select-meio-pagamento"></div>
                                    </div>

                                    <button class="btn btn-success mt-2 w-50 float-end" type="submit" name="formaPagamento" value="pagarRecebimento">Finalizar</button>
                                `)
                            }
                        })

                        function selectMeioPagamento () {
                            if($('#meioPagamento').val() == "dinheiro"){
                                $('#select-meio-pagamento').append(`
                                    <div class="form-floating ">
                                        <input type="number" class="form-control" id="trocoPara" name="trocoPara" placeholder="-" min="0" step="0.01" required>
                                        <label for="trocoPara" style="margin-left: 10px;">Troco para (R$)</label>
                                    </div>
                                `)
                            }else{
                                $('#select-meio-pagamento').empty()
                            }
                        }

                    </script>
                    
                    <input type="text" name="idEstabelecimento" value="{{estabelecimento._id}}" hidden readonly>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $('#valorTotalPedido').text(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(Number('{{estabelecimento.entrega.taxaEntrega}}') + Number('{{carrinho.valorTotal}}')))
    $('.idCarrinho-delete-produto').val('{{carrinho._id}}')
    $(".valorFormatar").each(function (item) {
        let textFormat = $(this).text()
        $(this).html(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(textFormat));
    })
</script>

{{>_msg}}
