<link rel="stylesheet" type="text/css" href="/usuario/css/painel.css">

<body style="background:{{estabelecimento.painel.colorFundo}};">
    <header>
        <div class="container-md capa-painel mt-2" style="background-image: url({{estabelecimento.img.capa.url}})">
            <center>
                <div>
                    <br>
                    <img src="{{estabelecimento.img.logo.url}}" class="rounded-circle rounded border logo-painel">
                </div>
        </div>
        </center>
        <br>
    </header>

</body>
<h1 style="color:{{estabelecimento.painel.colorFonte}};" class="estabelecimento rb " id="nomeEstabelecimento">
    Carrinho</h1>

<div class="container-md max-container">

    <div style="height:100%;background:white;">
        <br>

        {{#each carrinho.produtos}}
            <img class="img-carrinho" src="https://uploadhotpedidos.s3.sa-east-1.amazonaws.com/Estabelecimentos/60a13699df46330c28432b78/produtos/60bc06c0eb783817a8c8d4ff%20-%20Produto">
            <h1 class="rb " style="font-size: 16px;font-weight:bold;margin-left:100px;margin-top:-50px"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Pizza Grande 4 queijos</h1>
            <h1 class="rb mb-2" style="font-size: 12px;margin-left:100px;">R$ 10,00 - Qtd: 1</h1>
            <button class="btn btn-light btn-sm float-end text-danger" style="margin-right:20px;margin-top:-50px;" name="idCarrinhoProduto" value="${element._id}"><i class="fas fa-times"></i></button>
            
            <div class="collapse mx-4 mt-4" id="collapseExample">
                {{#each opcao}}
                    <span class="d-block">
                        <span>{{nomeOpcao}}: </span>
                        {{#each opcoes}}
                            {{nome}} - <span class="valorFormatar">{{valor}}</span>;
                        {{/each}}
                    </span>
                {{/each}}

                {{#if adicionais}}
                    <span class="d-block">Adicionais: 
                        {{#each adicionais}}
                            {{nome}} - <span class="valorFormatar">{{valor}}</span>
                        {{/each}}
                    </span>
                {{/if}}

                <span class="d-block">Obeservação: {{observacao}}</span>
                <span class="d-block">Valor Total: <span class="valorFormatar">{{valor}}</span></span>
            </div>

            <center><hr style="width: 90%;"></center>
        {{/each}}
    </div>

</div>

<br><br><br><br>

<div class="background-pedidos">
    <a href="/estabelecimento/{{estabelecimento.url}}"><button class="voltar">« Voltar</button></a>
    <a href="/estabelecimento/{{estabelecimento.url}}/finalizar/"><button class="proximo">Próximo »</button></a>
    </div>