<link rel="stylesheet" type="text/css" href="/usuario/css/painel.css">

<body style="background:{{estabelecimento.painel.colorFundo}};">
    <header>
        <div class="container-md capa-painel mt-2" style="background-image: url({{estabelecimento.img.capa.url}})">
            <center>
                <div>
                    <br>
                    <img src="{{estabelecimento.img.logo.url}}"
                        class="rounded-circle rounded border logo-painel">
                </div>
        </div>
        </center>
        <br>
    </header>

</body>

<h1 style="color:{{estabelecimento.painel.colorFonte}};" class="estabelecimento rb" id="nomeEstabelecimento">
    {{estabelecimento.nomePainel}}</h1><br>

<div style="margin-top: -35px;">
    <center>
        <i class="fas fa-map-marker-alt text-danger"></i>
        <h1 style="color:{{estabelecimento.painel.colorFonte}};" class="endereco rb" id="enderecoEstabelecimento">
            {{estabelecimento.endereco.logradouro}}</h1>
        <h1 style="color:{{estabelecimento.painel.colorFonte}};" class="endereco rb" id="numeroEstabelecimento"> -
            {{estabelecimento.endereco.numero}}</span>
            <h1 style="color:{{estabelecimento.painel.colorFonte}};" class="endereco rb" id="bairroEstabelecimento"> -
                {{estabelecimento.endereco.bairro}}</h1>
            <h1 id="localidadeEstabelecimento" style="color:{{estabelecimento.painel.colorFonte}};" class="endereco rb"> /
                {{estabelecimento.endereco.localidade}}</h1>
    </center>
</div>

<center style="color:{{estabelecimento.painel.colorFonte}};">
    <p class="status-text rb mt-1" style="color:{{estabelecimento.painel.colorFonte}}"><i class="fas fa-circle"
            style="font-size: 12px;color:green"></i> Aberto</p>
    <hr class="w-25 text-center">
    <input class="search rb" style="border-color:{{estabelecimento.painel.colorFonte}}"><button
        class="search-button ml-3" style="border-color:{{estabelecimento.painel.colorFonte}};"><i
            class="fas fa-search"></i></button>
    <br><br>

    {{#each produtos}}
    <span class="categoria rb">{{categoriaProdutos.nome}}</span>
    <div class="container-md">
        <div class="scrolling-wrapper" id="container-{{_id}}">
            {{#each produtos}}
            <div class="card card-style-produto" data-bs-nome="{{nome}}">
                <img class="card-image" src="{{img}}"></h2>
                <p class="card-text rb">{{nome}}</p>
                <p class="card-value valorFormatar rb">{{valor}}</p>
                <button class="button-adicionar rb" data-bs-toggle="modal" data-bs-target="#modal-pedido-ajax-produto"
                    data-bs-id="{{_id}}">Adicionar</button>
            </div>
            {{/each}}
        </div>
        <button class="button-scroll-left" id="button-scroll" onclick="clickscrollleft('{{_id}}')">«</button>
        <button class="button-scroll-right" style="color:{{estabelecimento.painel.colorFundo}};" id="button-scroll"
            onclick="clickscrollright('{{_id}}')">»</button>
    </div>
    {{/each}}

    <script>
        //Aumenta o card caso a resolução seja menor ou mair que 900px
        $(document).ready(() => {
            x = window.screen.width;
            if (x < 900) {
                $(".card-style-produto").each(function (i, elementDiv) {
                    if (elementDiv.getAttribute('data-bs-nome').length > 20) {
                        $(this).css({ 'width': `${elementDiv.getAttribute('data-bs-nome').length * 10}px` });
                    }
                })
            }
            if (x > 900) {
                $(".card-style-produto").each(function (i, elementDiv) {
                    if (elementDiv.getAttribute('data-bs-nome').length > 20) {
                        $(this).css({ 'width': `${elementDiv.getAttribute('data-bs-nome').length * 12}px` });
                    }
                })
            }
        })
        //Aumenta o card caso alterar a resolução caso a resolução seja menor ou mair que 900px
        document.body.onresize = function () {
            if (document.body.clientWidth < 900) {
                $(".card-style-produto").each(function (i, elementDiv) {
                    if (elementDiv.getAttribute('data-bs-nome').length > 20) {
                        $(this).css({ 'width': `${elementDiv.getAttribute('data-bs-nome').length * 10}px` });
                    }
                })
            }
            if (document.body.clientWidth > 900) {
                $(".card-style-produto").each(function (i, elementDiv) {
                    if (elementDiv.getAttribute('data-bs-nome').length > 20) {
                        $(this).css({ 'width': `${elementDiv.getAttribute('data-bs-nome').length * 12}px` });
                    }
                })
            }

        }

    </script>

    <br><br><br>
    <a class="carrinho" data-bs-toggle="modal" data-bs-target="#modal-carrinho-ajax" ><i class="fas fa-cart-plus" style="font-size: 20px;"></i></a>
    <a class="finalizar"><i class="fas fa-clipboard-list" style="font-size: 20px;"></i></a>
</center>


<div class="modal fade" id="modal-pedido-ajax-produto" tabindex="-1" aria-labelledby="modal-pedido-ajax-produtoLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/pedido/add-painel-carrinho-produto" method="post"
                    id="form-add-painel-carrinho-produto-1">
                    <div class="card bg-light border-light" style="width: 100%; height: 100%">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4 text-center mt-2">
                                    <img src="/usuario/assets/img/favicon/logoApp.png" class="mx-auto"
                                        style="object-fit: contain; width: 100pxx; height: 100px;">
                                </div>
                                <div class="col-lg-8 mt-2">
                                    <p>Nome: <span id="add-produto-nome"></span></p>
                                    <p>Valor: <span id="add-produto-valor"></span></p>
                                    <p id="p-add-produto-descricao">Descrição: <span id="add-produto-descricao"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-light border-light mt-2" style="width: 100%; height: 100%"
                        id="card-add-ingredientes">
                        <div class="card-body">
                            <h6 class="d-block">Ingredientes:</h6>
                            <span id="add-ingredientes"></span>
                        </div>
                    </div>

                    <span id="add-opcoes"></span>

                    <div class="card bg-light border-light mt-2" style="width: 100%; height: 100%"
                        id="card-add-adicionais">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Adicionais</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody id="add-adicionais">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

                <form action="" method="post" id="form-add-painel-carrinho-produto-2">
                    <div class="row">
                        <div class="col">
                            <input type="number" id="input-calc-valor-total" readonly hidden>
                            <input type="number" id="input-calc-valor-total-produto-valor" readonly hidden>
                            <div class="mt-3" style="margin-left: 10px;">Total: <span style="font-size: 25px;"
                                    class="text-primary" id="add-carrinho-valor-total"></span></div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" min="1" onkeyup="calcValorClick()"
                                    onkeydown="calcValorClick()" onchange="calcValorClick()" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                    value="1" id="add-produto-carrinho-quantidade" name="quantidade" placeholder="-"
                                    required>
                                <label for="add-produto-carrinho-quantidade">Quantidade</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-floating">
                        <textarea class="form-control" placeholder="-" id="add-produto-carrinho-observacao"
                            name="observacao" style="height: 100px"></textarea>
                        <label for="add-produto-carrinho-observacao">Observação</label>
                    </div>

                    <input type="text" id="add-produto-carrinho-idProduto" name="idProduto" hidden readonly>
                </form>

                <button type="submit" class="btn btn-primary btn-sm mt-2"
                    id="button-submit-add-produto-carrinho">Adicionar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal-carrinho-ajax" tabindex="-1" aria-labelledby="modal-carrinho-ajaxLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <span id="carrinho-ajax-produto">
                    
                </span>

                <div class="mt-3 float-end" style="margin-left: 10px;">Total: <span style="font-size: 25px;"
                    class="text-primary" id="carrinho-valor-total"></span></div>

                <button type="button" class="btn btn-primary btn-sm mt-4">Finalizar pedido</button>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    var modalCarrinho = document.getElementById('modal-carrinho-ajax')
    modalCarrinho.addEventListener('show.bs.modal', function (event){
        var button = event.relatedTarget

        $('#carrinho-ajax-produto').empty()
        jQuery.ajax({
            type: "POST",
            url: '/estabelecimento/ajax-get-carrinho-painel',
            data: { idEstabelecimento: '{{estabelecimento._id}}', uuid4Client: localStorage.getItem('uuid4Cliente') },
            success: function(response) {
                $("#carrinho-valor-total").text(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(response.valorTotal))
                response.produtos.forEach(element => {
                    $('#carrinho-ajax-produto').append(`
                        <div class="card bg-light border-light" style="width: 100%; height: 100%">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 text-center mt-2">
                                        <img src="/usuario/assets/img/favicon/logoApp.png" class="mx-auto"
                                            style="object-fit: contain; width: 100pxx; height: 100px;">
                                    </div>
                                    <div class="col-lg-8 mt-2">
                                        <p>Nome: ${element.nome}</p>
                                        <p>Valor: ${new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(element.valorTotal)}</p>
                                        <p id="carrinho-opcao-${element._id}"></p>
                                        <p id="carrinho-adicionais-${element._id}">Adicionais: </p>
                                        <p id="carrinho-observacao-${element._id}"> </p>
                                        <p id="carrinho-quantidade-${element._id}"> </p>
                                    </div>
                                </div>
                                <form action="/estabelecimento/delete-carrinho-painel" method="post">
                                    <input name="idCarrinho" value="${response._id}" hidden readonly/>
                                    <button class="btn btn-light btn-sm float-start text-danger" name="idCarrinhoProduto" value="${element._id}">Remover</button>
                                </form>
                            </div>
                        </div>
                    `)

                    element.opcao.forEach(opcao => {
                        $(`#carrinho-opcao-${element._id}`).append(`
                            <span id="carrinho-opcao-opcoes-${opcao._id}" class="d-block">${opcao.nomeOpcao}: </span>
                        `)

                        opcao.opcoes.forEach(opcoes => {
                            $(`#carrinho-opcao-opcoes-${opcao._id}`).append(`
                                <button class="btn btn-sm" style="font-size: 10px; background-color:#d6d6d6">${opcoes.nome} ${new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(opcoes.valor)}</button>
                            `)
                        })
                    })

                    element.adicionais.length == 0 ? $(`#carrinho-adicionais-${element._id}`).hide() : $(`#carrinho-adicionais-${element._id}`).show()
                    
                    element.adicionais.forEach(adicional => {
                        $(`#carrinho-adicionais-${element._id}`).append(`
                            <button class="btn btn-sm" style="font-size: 10px; background-color:#d6d6d6">${adicional.nome} ${new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(adicional.valor)}</button>
                        `)
                    })
                    
                    element.observacao ? $(`#carrinho-observacao-${element._id}`).text(`Observação: ${element.observacao}`) : 
                    
                    $(`#carrinho-quantidade-${element._id}`).text(`Quantidade: ${element.quantidade}`)
                })

            }   
        })
    })
    
    var modalPedidoProduto = document.getElementById('modal-pedido-ajax-produto')
    modalPedidoProduto.addEventListener('show.bs.modal', function (event) {
        spinngLoading(true)

        var button = event.relatedTarget
        jQuery.ajax({
            type: "POST",
            url: '/estabelecimento/ajax-get-painel-produto',
            data: { idProduto: button.getAttribute('data-bs-id') },
            success: function (response) {

                $('#add-produto-carrinho-quantidade').val(1)

                $('#modal-add-opcoes-modelo-opcoesLabel').text(response.nome)
                $('#add-produto-nome').text(response.nome)
                $('#add-produto-carrinho-idProduto').val(response._id)
                $('#input-calc-valor-total').val(response.valor)
                $('#input-calc-valor-total-produto-valor').val(response.valor)
                $('#add-carrinho-valor-total').text(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(response.valor))
                $('#add-produto-valor').text(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(response.valor))
                response.descricao ? $('#p-add-produto-descricao').show(1, () => { $('#add-produto-descricao').text(response.descricao) }) : $('#p-add-produto-descricao').hide()

                // ingredientes
                response.ingredientes.length == 0 ? $('#card-add-ingredientes').hide() : $('#card-add-ingredientes').show()
                $('#add-ingredientes').empty()
                response.ingredientes.forEach(element => {
                    $('#add-ingredientes').append(`<button type="button" class="btn btn-secondary btn-sm m-1" style="font-size: x-small;">${element.nome}</button>`)
                })

                // adicionais
                response.adicionais.length == 0 ? $('#card-add-adicionais').hide() : $('#card-add-adicionais').show()
                $('#add-adicionais').empty()
                response.adicionais.forEach(element => {
                    $('#add-adicionais').append(`
                        <tr>
                            <td>
                                <label> <input type="checkbox" onclick="calcValorClick()" class="calc-valor-total" name="adicionais" value='{"tipo": "adicional", "nome": "${element.idAdicional.nome}", "valor": ${element.idAdicional.valor}}' /> ${element.idAdicional.nome} </label>
                            </td>
                            <td class="w-25">${new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(element.idAdicional.valor)}</td>
                        </tr>
                    `)
                })

                response.opcao.length == 0 ? $('#add-opcoes').hide() : $('#add-opcoes').show()
                $('#add-opcoes').empty()
                response.opcao.forEach(element => {

                    if (element.vinculoProduto == true) {
                        var opcoes_opcoes = ""

                        element.opcoesProduto.forEach(opcoes => {
                            opcoes_opcoes += `<tr> <td> <label><input class="calc-valor-total"  onclick="inputCheckBoxOption('${element._id}', ${element.dividendo})" type="checkbox" name="opcao-${element._id}" value='{"tipo": "opcao", "nomeOpcao": "${element.nome}", "nome": "${opcoes.idProduto.nome}", "valor": ${opcoes.idProduto.valor / element.dividendo}}' data-bs-idOpcao="${element._id}" data-bs-dividendo="${element.dividendo}" data-bs-nome="${element.nome}"/> ${opcoes.idProduto.nome}</label> </td><td  class="w-25">${new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(opcoes.idProduto.valor / element.dividendo)}</td> </tr>`
                        })

                        $('#add-opcoes').append(`
                            <div class="card bg-light border-light mt-2" style="width: 100%; height: 100%" id="card-add-ingredientes">
                                <div class="card-body" >
                                    <h6  class="d-block">${element.nome}</h6>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Opções</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody id="add-opcoes-opcoes">
                                            ${opcoes_opcoes}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        `)
                    } else {
                        element.multiplaEscolha == false ? multiplaEscolha = `onclick="inputCheckBoxOption('${element._id}', 1)"` : multiplaEscolha = `onclick="calcValorClick()"`
                        var opcoes_opcoes = ""
                        element.opcoes.forEach(opcoes => {
                            opcoes_opcoes += `<tr> <td> <label><input type="checkbox" ${multiplaEscolha}  class="calc-valor-total" name="opcao-${element._id}" value='{"tipo": "opcao", "nomeOpcao": "${element.nome}", "nome": "${opcoes.nome}", "valor": ${opcoes.valor}}'> ${opcoes.nome}</input></label> </td><td class="w-25">${new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(opcoes.valor)}</td> </tr>`
                        })

                        $('#add-opcoes').append(`
                            <div class="card bg-light border-light mt-2" style="width: 100%; height: 100%" id="card-add-ingredientes">
                                <div class="card-body" >
                                    <h6  class="d-block">${element.nome}</h6>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Opções</th>
                                                <th>Valor</th>
                                            </tr>
                                        </thead>
                                        <tbody id="add-opcoes-opcoes">
                                            ${opcoes_opcoes}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        `)
                    }
                })

                spinngLoading(false)
            }
        });
    })

    function inputCheckBoxOption(optionClass, num) {
        let quantidade = Number($("#add-produto-carrinho-quantidade").val())
        let valorTotal = Number($('#input-calc-valor-total-produto-valor').val())
        $(`input[name="opcao-${optionClass}"]`).on('change', function (e) {
            if ($(`input[name="opcao-${optionClass}"]:checked`).length > num) {
                $(this).prop('checked', false);
            } else {
                $(`input[class="calc-valor-total"]:checked`).each(function (i, elementDiv) {
                    valorTotal += (JSON.parse(elementDiv.value).valor)
                })
            }
            $('#input-calc-valor-total').val(valorTotal * quantidade)
            $('#add-carrinho-valor-total').text(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(valorTotal * quantidade))
        });
    }

    function calcValorClick() {
        let quantidade = Number($("#add-produto-carrinho-quantidade").val())
        let valorTotal = Number($('#input-calc-valor-total-produto-valor').val())
        $(`input[class="calc-valor-total"]:checked`).each(function (i, elementDiv) {
            valorTotal += (JSON.parse(elementDiv.value).valor)
        })
        $('#input-calc-valor-total').val(valorTotal * quantidade)
        $('#add-carrinho-valor-total').text(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(valorTotal * quantidade))
    }

    $('#button-submit-add-produto-carrinho').click(() => {
        spinngLoading(true)
        event.preventDefault()

        $("input:checkbox").each(function (i, elementDiv) {
            if (elementDiv.getAttribute('onclick') && $(`input[name="opcao-${elementDiv.getAttribute('data-bs-idOpcao')}"]:checked`).length != Number(elementDiv.getAttribute('data-bs-dividendo'))) {
                Swal.fire(
                    'Esqueceu de algo?',
                    `Selecione ${elementDiv.getAttribute('data-bs-dividendo')} opcões em ${elementDiv.getAttribute('data-bs-nome')}`,
                    'warning'
                )
                spinngLoading(false)
                return false
            }

            if ($(`input:checkbox`).length - 1 == i) {
                jQuery.ajax({
                    type: "POST",
                    url: '/estabelecimento/add-painel-carrinho-produto',
                    data: {
                        produto: $("#form-add-painel-carrinho-produto-1").serializeArray(),
                        idProduto: $("#add-produto-carrinho-idProduto").val(),
                        quantidade: $("#add-produto-carrinho-quantidade").val(),
                        observacao: $("#add-produto-carrinho-observacao").val(),
                        uuid4Client: localStorage.getItem('uuid4Cliente')
                    },
                    success: function (response) {
                        $('#modal-pedido-ajax-produto').modal('hide')
                        spinngLoading(false)
                        if (response == 200) {
                            Swal.fire(
                                'Sucesso!',
                                `Produto adicionado ao carrinho`,
                                'success'
                            )
                        } else {
                            Swal.fire(
                                'Ops...',
                                `Ocorreu um erro.\n Caso persista informe o suporte!`,
                                'error'
                            )
                        }
                    }
                });
            }

        })

        if ($(`input:checkbox`).length === 0) {
            jQuery.ajax({
                type: "POST",
                url: '/estabelecimento/add-painel-carrinho-produto',
                data: {
                    produto: $("#form-add-painel-carrinho-produto-1").serializeArray(),
                    idProduto: $("#add-produto-carrinho-idProduto").val(),
                    quantidade: $("#add-produto-carrinho-quantidade").val(),
                    observacao: $("#add-produto-carrinho-observacao").val(),
                    uuid4Client: localStorage.getItem('uuid4Cliente')
                },
                success: function (response) {
                    $('#modal-pedido-ajax-produto').modal('hide')
                    spinngLoading(false)
                    if (response == 200) {
                        Swal.fire(
                            'Sucesso!',
                            `Produto adicionado ao carrinho`,
                            'success'
                        )
                    } else {
                        Swal.fire(
                            'Ops...',
                            `Ocorreu um erro.\n Caso persista informe o suporte!`,
                            'error'
                        )
                    }
                }
            });
        }
    })

    $('#form-add-painel-carrinho-produto-1').submit((e) => {
        event.preventDefault()
    })



</script>


{{>_msg}}


<script>
    console.log({{{ horariosFuncionamento }}})

    function uuidv4() { // gerador de uuidv4
        return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
            (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
    }

    if (!localStorage.getItem('uuid4Cliente')) { // id do cliente, salvo em localStorage, forma de busca o carrinhoda pessoa
        localStorage.setItem('uuid4Cliente', Date.now() + "-" + uuidv4() + uuidv4() + uuidv4());
    } else {

    }

    function clickscrollright(idCategoria) {
        var leftPos = $(`#container-${idCategoria}`).scrollLeft();
        $(`#container-${idCategoria}`).animate({ scrollLeft: leftPos + 200 }, 400);
    }
    function clickscrollleft(idCategoria) {
        var leftPos = $(`#container-${idCategoria}`).scrollLeft();
        $(`#container-${idCategoria}`).animate({ scrollLeft: leftPos - 200 }, 400);
    }
    $(".valorFormatar").each(function (item) {
        let textFormat = $(this).text()
        $(this).html(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(textFormat));
    })
</script>