 <title>Carrinho - {{estabelecimento.nomePainel}}</title>
<link rel="stylesheet" type="text/css" href="/usuario/css/painel.css">

<div class="container-md max-container">

    <div style="height:100%;background:white;">
        <br>

        {{#if carrinho.produtos}}
        <form action="/estabelecimento/delete-carrinho-painel" method="post">
            <input type="text" name="idCarrinho" value="{{carrinho._id}}" hidden readonly>
            {{#each carrinho.produtos}}
            <img class="img-carrinho" src="{{idProduto.img.foto.url}}">
            <h1 class="rb "
                style="font-size: 16px;font-weight:bold;margin-left:100px;margin-top:-50px; cursor: pointer;"
                data-bs-toggle="collapse" data-bs-target="#collapse-carrinho-{{_id}}">{{nome}}</h1>
            <h1 class="rb mb-2" style="font-size: 12px;margin-left:100px;"><span
                    class="valorFormatar">{{valorTotal}}</span> - Qtd: {{quantidade}}</h1>
            <button class="btn btn-light btn-sm float-end text-danger" style="margin-right:20px;margin-top:-50px;"
                name="idCarrinhoProduto" value="{{_id}}"><i class="fas fa-times"></i></button>

            <div class="collapse mx-4 mt-4" id="collapse-carrinho-{{_id}}">
                <table class="table">
                    <tbody>
                        {{#each opcao}}
                        <tr>
                            <td>{{nomeOpcao}}</td>
                            <td>
                                {{#each opcoes}}
                                {{nome}} <span class="valorFormatar">{{valor}}</span>;
                                {{/each}}
                            </td>
                        </tr>
                        {{/each}}

                        {{#if adicionais}}
                        <tr>
                            <td>Adicionais</td>
                            <td>
                                {{#each adicionais}}
                                {{nome}} <span class="valorFormatar">{{valor}}</span>;
                                {{/each}}
                            </td>
                        </tr>
                        {{/if}}

                        {{#if observacao}}
                        <tr>
                            <td>Obeservação</td>
                            <td>{{observacao}}</td>
                        </tr>
                        {{/if}}

                    </tbody>
                </table>


            </div>

            <center>
                <hr style="width: 90%;">
            </center>
            {{/each}}
        </form>

        <p style="color:black;" class="estabelecimento rb " id="nomeEstabelecimento">
            Resumo da compra</p>
        <table class="table text-center">
            <tbody>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;Total</td>
                    <td class="valorFormatar">{{carrinho.valorTotal}}</td>
                </tr>
            </tbody>
        </table>


        {{else}}
        <div class="text-center mx-4" style="margin-top: 110px;">
            <h1 style="color:black" class="estabelecimento rb" id="nomeEstabelecimento">
  Carrinho de compras</h1>
    <label style="color:black;font-size: 14px;margin-top:-2px;margin-bottom: 50px;">Você ainda não selecionou nenhum produto</label>
  <br>
            <img id="img-carrinho" class="img-carrinho-compras"
                src="/usuario/assets/img/illustrations/icone-carrinho-vazio.png">
        </div><br>
        {{/if}}

    </div>

</div>

<br><br><br><br>

<div class="background-pedidos">
    <form method="GET" action="/estabelecimento/{{estabelecimento.url}}/">
    <button type="submit" class="voltar">« Voltar</button>
    </form>
     {{#if carrinho.produtos}}
     <form method="POST" action="/estabelecimento/{{estabelecimento.url}}/endereco/{{carrinho._id}}">
     <button type="submit" class="proximo">Próximo »</button>
     </form>
     {{else}}
     <form method="GET" action="/estabelecimento/{{estabelecimento.url}}/">
    <button type="submit" class="proximo">Adicionar Produtos</button>
    </form>
     {{/if}}
</div>


<script>
    $(".valorFormatar").each(function (item) {
        let textFormat = $(this).text()
        $(this).html(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(textFormat));
    })
</script>