
<link rel="stylesheet" type="text/css" href="/usuario/css/painel.css">

<div style="margin:auto;">
    <h1 style="color:black;" class="estabelecimento rb">Meus Pedidos</h1>
</div>
<div>
<center>
    <div class="container-md" style="margin-top: 80px;" id="statuspedido">  
  
           {{#each pedido}}                 
            <div class="card-pedidos card-style-produto text-center mt-3">
                <img class="card-image-pedido" src="/usuario/assets/img/illustrations/icone-entrega.png">
                <p class="card-text rb">Data: {{dataFormatTimeZone usuarioLogado.timeZone dataCriacao "DD/MM/YYYY"}}</p>
                <p class="card-text rb" style="margin-top: -15px;" >Hora: {{dataFormatTimeZone usuarioLogado.timeZone dataCriacao "HH:mm"}}</p>
                <p class="card-text rb" style="margin-top: -15px;"><label class="format-pedido-situacao">{{{situacaoPedido situacao}}}</label></p>
                <p class="card-value rb"  step="0.01" min="0.01">Total: <span>{{FormatValor valorTotal}}</span></p>
                <button class="button-detalhar rb" style="background-color:#F0A431"
                    data-bs-toggle="modal"  data-bs-target="#modal-pedido-ajax"
                    data-bs-id="{{_id}}">Detalhes</button>
         </div> 
              {{/each}} 
    </div>

    <!-- Modal ver carrinho START -->
<div class="modal fade" id="modal-pedido-ajax" tabindex="-1" aria-labelledby="modal-pedido-ajaxLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Detalhes do pedido</h5>
                <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <span id="carrinho-ajax-produto">

                </span>

                <div class="mt-3 rb" style="margin-left: 10px;font-weight: bold;font-size: 25px;">Total: <span style="font-size: 25px;color:#27AE60;"
                        class="rb" id="carrinho-valor-total"></span></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal ver carrinho END -->

    <br><br><br><br><br><br>
</center>
</div>
<div class="background-pedidos">
    <form method="GET" action="/estabelecimento/{{estabelecimento.url}}">
        <button type="submit" class="voltar">« Página inicial</button>
    </form>
</div>

<script>
     $(function() {
   setTime()
   function setTime() {
      setTimeout(setTime, 3000);
      $('#statuspedido').load(document.URL +  ' #statuspedido');

   }
 })
</script>

{{>_msg}}

<script>
    var modalCarrinho = document.getElementById('modal-pedido-ajax')
    modalCarrinho.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget

        $('#carrinho-ajax-produto').empty()
        jQuery.ajax({
            type: "POST",
            url: '/estabelecimento/ajax-get-pedido-painel',
            data: { idPedido: button.getAttribute('data-bs-id')},
            success: function (response) {
               
                $("#carrinho-valor-total").text(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(response.valorTotal))
                response.produtos.forEach(element => {
                    $('#carrinho-ajax-produto').append(`
                        <div class="card bg-light border-light" style="width: 100%; height: 100%">
                            <div class="card-body">
                                <div style="font-weight: bold;">                                              
                                        <p>${element.nome}</p>
                                        <p style="margin-top:-15px;">${new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(element.valorTotal)}</p>
                                           </div>
                                        <button  class="btn btn-white btn-sm text-primary float-end"  type="button" data-bs-toggle="collapse" data-bs-target="#collapse-${element._id}">Detalhar</button>                                    
                                                                                        
                                <div class="collapse" style="margin-top:60px;" id="collapse-${element._id}">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="carrinho-${element._id}">
                                        </tbody>
                                        <tbody id="carrinho-adicionais-${element._id}">
                                            <tr>
                                                <td>Adicionais</td>
                                                <td id="carrinho-adicionais-element-${element._id}"></td>
                                            </tr>
                                            <tr>
                                                <td>Quantidade</td>
                                                <td id="carrinho-quantidade-${element._id}"></td>
                                            </tr>
                                            <tr>
                                                <td>Valor Produto (Unit.)</td>
                                                <td id="carrinho-adicionais-element-${element._id}">${new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(element.valor)}</td>
                                            </tr>
                                            <tr>
                                                <td>Observação</td>
                                                <td id="carrinho-observacao-${element._id}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    `)

                    element.opcao.forEach(opcao => {
                        $(`#carrinho-${element._id}`).append(`
                            <tr>
                                <td>${opcao.nomeOpcao}</td>
                                <td id="carrinho-opcao-opcoes-${opcao._id}"></td>
                            </tr>
                        `)

                        opcao.opcoes.forEach(opcoes => {
                            $(`#carrinho-opcao-opcoes-${opcao._id}`).append(`
                                <label  style="font-size: 15px;">${opcoes.nome} ${new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(opcoes.valor)}</label>
                            `)
                        })
                    })

                    element.adicionais.length == 0 ? $(`#carrinho-adicionais-${element._id}`).hide() : $(`#carrinho-adicionais-${element._id}`).show()
                    element.adicionais.forEach(adicional => {
                        $(`#carrinho-adicionais-element-${element._id}`).append(`
                            <label style="font-size: 15px;">${adicional.nome}: ${new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(adicional.valor)},</label>
                        `)
                    })

                    element.observacao ? $(`#carrinho-observacao-${element._id}`).text(`Observação: ${element.observacao}`) :

                        $(`#carrinho-quantidade-${element._id}`).text(`Quantidade: ${element.quantidade}`)
                })
            }
        })
    })
</script>