<link rel="stylesheet" type="text/css" href="/usuario/css/painel.css">

<div style="margin:auto;">
    <h1 style="color:black;" class="estabelecimento rb">Como deseja pagar?</h1>
    <br>
</div>
<div class="container-md max-container" id="container-end">

    <form method="POST" id="checkout-pedido" action="/estabelecimento/checkout/finalizar">
        <div style="height:100%;background:white">
            <center>
                <img id="img-carrinho" class="img-entrega" src="/usuario/assets/img/illustrations/icone-venda.png">
                <br>
                <div>
                    Selecione a forma de pagamento<br>
                    {{#if estabelecimento.integracao.mercadoPago.testadoAtivo}}
                    <input type="text" name="idEstabelecimento" value="{{estabelecimento._id}}" hidden>
                    <div class="mt-2">
                        <input style="width: 20px;height:20px;" type="checkbox" id="pgentrega"
                            name="pagamentoTipoSelecionado" value="pagarRecebimento">
                        <label style="font-size:18px;" for="pgentrega">Pagar na entrega</label>
                    </div>
                    <div id="formasPg">
                    </div>

                    <div class="mt-2">
                        <input style="width: 20px;height:20px;" type="checkbox" id="pgOnline"
                            name="pagamentoTipoSelecionado" value="mercadoPago">
                        <label style="font-size:18px;" for="pgOnline">Pagamento Online</label>
                    </div>
                    <div id="formasPgOnline">
                    </div>
                    {{else}}
                    <input type="text" name="idEstabelecimento" value="{{estabelecimento._id}}" hidden>
                     <input style="width: 20px;height:20px;" type="text" id="pgentrega"
                            name="pagamentoTipoSelecionado" value="pagarRecebimento" hidden>
                    <select style="width:200px;border-color:#27AE60;" id="tipopg" onchange="Selectforma(this.value)"
                        class="form-select mt-3 mb-3" name="formaPagamento">
                        {{#each estabelecimento.configPedidos.meioPagamento}}
                        <option value="{{tipo}}">{{nome}}</option>
                        {{/each}}
                    </select>
                    <div id="troco">
                    </div>
                    <div hidden>
                        <input type="text" name="idCarrinho" value="{{carrinho._id}}">
                        <input type="text" name="uuid4Client" value="{{dados.uuid4Client}}">
                        <input type="text" name="retirarLocal" value="{{dados.retirarLocal}}">
                        <input type="text" name="entrega" value="{{dados.entrega}}">
                        <input type="text" name="nomeCliente" value="{{dados.nome}}">
                        <input type="text" name="cep" value="{{dados.cep}}">
                        <input type="text" name="telefone" value="{{dados.telefone}}">
                        <input type="text" name="rua" value="{{dados.endereco}}">
                        <input type="text" name="numero" value="{{dados.numero}}">
                        <input type="text" name="bairro" value="{{dados.bairro}}">
                        <input type="text" name="cidade" value="{{dados.cidade}}">
                        <input type="text" name="observacao" value="{{dados.observacao}}">
                    </div>
                    {{/if}}
                </div>
        </div>
        </center>
</div>
</form>
<div class="background-pedidos">
    <form method="POST" action="/estabelecimento/{{estabelecimento.url}}/endereco/{{carrinho._id}}">
        <button type="submit" class="voltar">« Voltar</button>
    </form>

    <button type="submit" form="checkout-pedido" class="proximo" id="proximo"{{#if estabelecimento.integracao.mercadoPago.testadoAtivo}}style="background: gray;" disabled{{else}}style="background: #27AE60;"{{/if}}>Enviar
        Pedido</button>
</div>


<script>
    $('#pgentrega').click(function () {
        $("#resumocompra").empty()
        if ($('#pgentrega').is(":checked")) {
            $("#formasPg").append(`
        <select style="width:200px;border-color:#27AE60;" id="tipopg" onchange="Selectforma(this.value)" class="form-select mt-3 mb-3" name="formaPagamento">
            {{#each estabelecimento.configPedidos.meioPagamento}}
            <option value="{{tipo}}">{{nome}}</option>
        {{/each}}
        </select>
        <div id="troco">
        </div>
        <div hidden>
        <input type="text" name="idCarrinho" value="{{carrinho._id}}">
         <input type="text" name="uuid4Client" value="{{dados.uuid4Client}}">
        <input type="text" name="retirarLocal" value="{{dados.retirarLocal}}">
        <input type="text" name="entrega" value="{{dados.entrega}}">
        <input type="text" name="nomeCliente" value="{{dados.nome}}">
        <input type="text" name="cep" value="{{dados.cep}}"> 
        <input type="text" name="telefone" value="{{dados.telefone}}"> 
        <input type="text" name="rua" value="{{dados.endereco}}"> 
        <input type="text"name="numero" value="{{dados.numero}}">  
        <input type="text" name="bairro" value="{{dados.bairro}}"> 
        <input type="text" name="cidade" value="{{dados.cidade}}">  
        <input type="text" name="observacao" value="{{dados.observacao}}">  
        </div>            
        `)


            $("#formasPgOnline").empty()
            $("#pgOnline").prop("checked", false);
            $("#pgOnline").prop("disabled", false);
            $("#proximo").removeAttr('disabled');
            $("#proximo").css("background", "");
        } else {
            $("#formasPg").empty()
            $("#proximo").prop("disabled", true);
            $("#proximo").css("background", "gray");
        }
    })


    $('#pgOnline').click(function () {
        $("#resumocompra").empty()
        if ($('#pgOnline').is(":checked")) {
            $("#formasPgOnline").append(`
        <h6 style="margin-top:20px;"><i class="fas fa-exclamation-triangle"></i> Atenção! O seu pedido será concluído e você será direcionado para pagina de pagamento.</h6>
           <button type="submit" form="checkout-pedido" class="proximo mt-3">Ok, confirmar</button>
        <div hidden>
        <input type="text" name="idCarrinho" value="{{carrinho._id}}">
        <input type="text" name="uuid4Client" value="{{dados.uuid4Client}}">
        <input type="text" name="retirarLocal" value="{{dados.retirarLocal}}">
        <input type="text" name="entrega" value="{{dados.entrega}}">
        <input type="text" name="nomeCliente" value="{{dados.nome}}">
        <input type="text" name="cep" value="{{dados.cep}}"> 
        <input type="text" name="telefone" value="{{dados.telefone}}"> 
        <input type="text" name="rua" value="{{dados.endereco}}"> 
        <input type="text"name="numero" value="{{dados.numero}}">  
        <input type="text" name="bairro" value="{{dados.bairro}}"> 
        <input type="text" name="cidade" value="{{dados.cidade}}">  
        <input type="text" name="observacao" value="{{dados.observacao}}">  
        </div>
        `)

            $("#formasPg").empty()
            $("#proximo").prop("disabled", true);
            $("#proximo").css("background", "gray");
            $("#pgentrega").prop("checked", false);
            $("#pgentrega").prop("disabled", false);
        } else {
            $("#formasPgOnline").empty()
        }
    })

</script>

<script>
  $(function() {
        let forma = document.querySelector('#tipopg');
        if (forma.value != "dinheiro") {
            $("#troco").empty()
        } else {
            $("#troco").append(`    
        <label for="valuedinheiro">Vai precisar de troco?</label><p>
        <input type="number" id="Dinheiro" style="width:200px;height:40px;text-align:center;" placeholder="Troco para quanto?" name="trocoPara"  min="0" step="0.01">
               `)
        }
    })

    $('#pgentrega').click(function () {
        let forma = document.querySelector('#tipopg');
        if (forma.value != "dinheiro") {
            $("#troco").empty()
        } else {
            $("#troco").append(`    
        <label for="valuedinheiro">Vai precisar de troco?</label><p>
        <input type="number" id="Dinheiro" style="width:200px;height:40px;text-align:center;" placeholder="Troco para quanto?" name="trocoPara"  min="0" step="0.01">
               `)
        }
    })

</script>

<script>
    function Selectforma(forma) {
        if (forma != "dinheiro") {
            $("#troco").empty()
        } else {
            $("#troco").append(`    
        <label for="valuedinheiro">Vai precisar de troco?</label><p>
        <input type="number" id="Dinheiro" style="width:200px;height:40px;text-align:center;" placeholder="Troco para quanto?" name="trocoPara"  min="0" step="0.01">
               `)
        }
    }
</script>