<link rel="stylesheet" type="text/css" href="/usuario/css/painel.css">

<body style="background:{{estabelecimento.painel.colorFundo}};">
    <header>
        <div class="container-md capa-painel mt-2" style="background-image: url({{estabelecimento.img.capa.url}})">
            <center>
                <div>
                    <br>
                    <img src="{{estabelecimento.img.logo.url}}" class="rounded-circle rounded border logo-painel">
                </div>
        </div>
        </center>
        <br>
    </header>

</body>
<h1 style="color:{{estabelecimento.painel.colorFonte}};" class="estabelecimento rb" id="nomeEstabelecimento">
    Endereço</h1>

<div class="container-md max-container" id="container-end">

    <div style="height:100%;background:white;">
        <br>
         <center>
            <div class="radio-toolbar">
                <labe>Selecione a forma de entrega</labe>
                <input type="radio" id="radio1" name="radios" value="" style="">
                <label for="radio1">Pagar na entrega</label>
                <br>
                <input type="radio" id="radio2" name="radios" value="false" checked>
                <label for="radio2">Pagamento Online</label>

    
            </div>
        </center>
</div>


<br><br><br><br>

<div class="background-pedidos">
    <a href="/estabelecimento/{{estabelecimento.url}}/endereco/"><button class="voltar">« Voltar</button></a>
    <a href="/estabelecimento/{{estabelecimento.url}}/carrinho/"><button class="proximo">Enviar pedido</button></a>
</div>

<script>
    $(document).ready(function () {
        $("#retirar").toggleClass("filter-gray");

        $("#retirar").change(function () {
            $("#retirar").removeClass("filter-gray");
            $("#entregar").toggleClass("filter-gray");
        })

        $("#entregar").change(function () {
            $("#entregar").removeClass("filter-gray");
            $("#retirar").toggleClass("filter-gray");
        })
    })
</script>