<link rel="stylesheet" type="text/css" href="/usuario/css/painel.css">

<div style="margin:auto;">
    <h1 style="color:black;" class="estabelecimento rb">Meus Pedidos</h1>
</div>
<div>
<center>
    <div class="container-md" style="margin-top: 80px;" id="statuspedido">  
   
           {{#each pedido}}                 
            <div class="card-pedidos card-style-produto text-center mt-3">
                <img class="card-image-pedido" src="/usuario/assets/img/illustrations/icone-entrega.png"></h2>
                <p class="card-text rb">Data: {{dataFormatTimeZone usuarioLogado.timeZone dataCriacao "DD/MM/YYYY"}}</p>
                <p class="card-text rb" style="margin-top: -15px;" >Hora: {{dataFormatTimeZone usuarioLogado.timeZone dataCriacao "HH:mm"}}</p>
                <p class="card-text rb" style="margin-top: -15px;"><label class="format-pedido-situacao">{{situacao}}</label></p>
                <p class="card-value rb"  step="0.01" min="0.01">Total: <span class="valorFormatar">{{valorTotal}}</span></p>
                <button class="button-detalhar rb" style="background-color:#F0A431"
                    data-bs-toggle="modal" data-bs-target="#modal-pedido-ajax-produto"
                    data-bs-id="{{_id}}">Detalhes</button>
         </div> 
              {{/each}} 
    </div>
    <br><br><br><br><br><br>
</center>
</div>
<div class="background-pedidos">
    <form method="GET" action="/estabelecimento/{{estabelecimento.url}}">
        <button type="submit" class="voltar">« Página inicial</button>
    </form>
</div>

<script>
     $(function() {
   setTime()
   function setTime() {
      setTimeout(setTime, 3000);
      $('#statuspedido').load(document.URL +  ' #statuspedido');

   }
 })
</script>

{{>_msg}}

