<link rel="stylesheet" type="text/css" href="/usuario/css/painel.css">

<body style="background:{{estabelecimento.painel.colorFundo}};">
    <header>
        <div class="container-md capa-painel mt-2" style="background-image: url({{estabelecimento.img.capa.url}})">
            <center>
                <div>
                    <br>
                    <img src="{{estabelecimento.img.logo.url}}" class="rounded-circle rounded border logo-painel">
                </div>
        </div>
        </center>
        <br>
    </header>

</body>
<h1 style="color:{{estabelecimento.painel.colorFonte}};" class="estabelecimento rb" id="nomeEstabelecimento">
    Endereço</h1>

<div class="container-md max-container">

    <div style="height:100%;background:white;">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="retirar" name="retirar">
            <label class="form-check-label" for="retirar">Retira no local</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="entrega" name="entrega">
            <label class="form-check-label" for="entrega">Entrega</label>
        </div>

        <div>
            
        </div>

    </div>

</div>

<br><br><br><br>

<div class="background-pedidos">
    <a href="/estabelecimento/{{estabelecimento.url}}/carrinho/"><button class="voltar">« Voltar</button></a>
    <a href="/estabelecimento/{{estabelecimento.url}}/carrinho/"><button class="proximo">Próximo »</button></a>
</div>