{{>usuario/_top-css}}

<div class="container-fluid bg-soft">
<div class="row">
<div class="col-12">
{{>usuario/_menu}}

<main class="content">
    
    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="/pedidos">Pedidos</a></li>
            </ol>
        </nav>
    </div>

    <div>
        <button type="button" class="btn btn-primary btn-sm mb-4">+ Adicionar</button>
        <button type="button" class="btn btn-white btn-sm mb-4" onclick="location.reload()"><i class="fas fa-sync"></i></button>
        <button class="btn btn-{{#if filtroExist}}danger{{else}}white{{/if}} btn-sm mb-4 float-end" data-bs-toggle="collapse" data-bs-target="#collapseExample"> <i class="fas fa-filter"></i> </button>

        <div class="collapse mb-4" id="collapseExample">
            <div class="card card-body">
                <form method="get" id="form-filtro-1">
                    <div class="row">
                        <div class="col-sm-4 mt-2">
                            <label for="filtro-conteudo">Nome Cliente / Telefone</label>
                            <input type="text" class="form-control" name="conteudo" id="filtro-conteudo" value="{{conteudo}}">
                            <span style="font-size: x-small;">* Se for telefone, digite apenas o número. Ex: 99988-1623</span>
                        </div>
                        <div class="col-sm-4 mt-2">
                            <label for="filtro-dataInicio">Data Inicio</label>
                            <input type="datetime-local" class="form-control" name="dataInicio" id="filtro-dataInicio" value="{{dataInicio}}" required>
                        </div>
                        <div class="col-sm-4 mt-2">
                            <label for="filtro-dataFim">Data Fim</label>
                            <input type="datetime-local" class="form-control" name="dataFim" id="filtro-dataFim" value="{{dataFim}}" required>
                        </div>
                        <hr class="mt-4">
                        <div class="col-sm-3 mt-2">
                            <input name="pagamentoTipo" class="" id="filtro-pedido-pagamento-tipo" placeholder="Tipo pagamento" value="{{pagamentoTipo}}">
                        </div>
                        <div class="col-sm-3 mt-2">
                            <input name="pagamentoForma" class="" id="filtro-pedido-pagamento-forma" placeholder="Forma pagamento" value="{{pagamentoForma}}">
                        </div>
                        <div class="col-sm-3 mt-2">
                            <input name="situacao" class="" id="filtro-pedido-situacao" placeholder="Situacao" value="{{situacao}}">
                        </div>
                        <div class="col-sm-3 mt-2">
                            <input name="entregador" class="" id="filtro-pedido-entregador" placeholder="Entregador" value="{{entregador}}">
                        </div>
                        <div class="col-sm-3 mt-2">
                            <input name="tipoEntrega" class="" id="filtro-pedido-tipoEntrega"  placeholder="Tipo entrega" value="{{tipoEntrega}}">
                        </div>
                        <div class="col-sm-3 mt-2">
                            <input name="pagamento" class="" id="filtro-pedido-pagamento"  placeholder="Pagamento" value="{{pagamento}}">
                        </div>
                        
                    </div>

                    <input type="text" name="limit" id="filtro-pedido-limit" value="{{pagination.limitPage}}" hidden readonly>

                    <button class="btn btn-dark btn-sm mt-2" type="submit">Filtrar</button>
                    {{#if filtroExist}}<a href="/produto/produtos" class="btn btn-white btn-sm mt-2 text-danger">Limpar filtro</a>{{else}}{{/if}}
                </form>

                <script>

                    let tagifyFiltroPagamentoTipo = new Tagify(document.querySelector('input[id=filtro-pedido-pagamento-tipo]'), {
                        whitelist: ['mercadoPago', 'pagarRecebimento'],
                        editTags: false,
                        dropdown: {
                            maxItems: Infinity,
                            enabled : 0 // always opens dropdown when input gets focus
                        },
                    })

                    let tagifyFiltroPagamentoForma = new Tagify(document.querySelector('input[id=filtro-pedido-pagamento-forma]'), {
                        whitelist: ['dinheiro', 'pix', 'cartaoDebito', 'cartaoCredito'],
                        editTags: false,
                        dropdown: {
                            maxItems: Infinity,
                            enabled : 0 // always opens dropdown when input gets focus
                        },
                    })

                    let tagifyFiltroSituacao = new Tagify(document.querySelector('input[id=filtro-pedido-situacao]'), {
                        whitelist: ['Cancelado', 'Finalizado', 'Aguardando', 'Produção', 'Concluido', 'Entrega'],
                        editTags: false,
                        dropdown: {
                            maxItems: Infinity,
                            enabled : 0 // always opens dropdown when input gets focus
                        },
                    })

                    let tagifyFiltroTipoEntrega = new Tagify(document.querySelector('input[id=filtro-pedido-tipoEntrega]'), {
                        whitelist: ['retirarLocal', 'entrega'],
                        editTags: false,
                        dropdown: {
                            maxItems: Infinity,
                            enabled : 0 // always opens dropdown when input gets focus
                        },
                    })

                    let tagifyFiltroEntregador = new Tagify(document.querySelector('input[id=filtro-pedido-entregador]'), {
                        whitelist: [ {{#each entregadores}} {'idEntregador': '{{_id}}', value: '{{nome}}' },  {{/each}} ],
                        editTags: false,
                        dropdown: {
                            maxItems: Infinity,
                            enabled : 0 // always opens dropdown when input gets focus
                        },
                    })

                    let tagifyFiltroPagamento = new Tagify(document.querySelector('input[id=filtro-pedido-pagamento]'), {
                        whitelist: ['Pago', 'Cancelado', 'Aguardando'],
                        editTags: false,
                        dropdown: {
                            maxItems: Infinity,
                            enabled : 0 // always opens dropdown when input gets focus
                        },
                    })

                </script>
            </div>
        </div>
        
    </div>

    <div class="card border-light shadow-sm mb-4">   
        <div class="card-body">
              <div id="loadpedidos">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-0">#</th>
                            <th class="border-0">Nome Cliente</th>
                            <th class="border-0">Telefone Cliente</th>
                            <th class="border-0">Data</th>
                            <th class="border-0">Valor Total</th>
                            <th class="border-0">Tipo Pagamento</th>
                            <th class="border-0">Tipo Entrega</th>
                            <th class="border-0">Situação</th>
                            <th class="border-0">Pagamento</th>
                            <th>Estabelecimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each pedidos}}
                        <!-- Item -->
                        <tr>
                            <td>
                                <button class="btn btn-white btn-sm" type="button" id="dropdown-options-{{_id}}" data-bs-toggle="dropdown" >
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu" style="min-width: auto" aria-labelledby="dropdown-options-{{_id}}">
                                    <li class="mx-3"><a class="btn btn-sm" href="/pedido/pedido?pedido={{_id}}"><i class="fas fa-eye"></i> Ver</a></li>
                                    <li class="mx-3 mt-2"><a class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#modal-edit-pedido" data-bs-whatever="{{_id}}" data-bs-estabelecimento="{{idEstabelecimento._id}}"><i class="fas fa-print" ></i> Comanda</a></li>
                                    <form action="/pedido/edit-pedidos-situacao" method="post">
                                        <input type="text" name="idPedido" value="{{_id}}" hidden readonly>
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="mx-3"><button class="btn btn-sm" name="situacao" value="waiting"><i class="fas fa-clock"></i> Aguardando</button></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="mx-3"><button class="btn btn-sm" name="situacao" value="production"><i class="fas fa-spinner text-warning"></i> Produção</button></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="mx-3"><button class="btn btn-sm" name="situacao" value="concluded"><i class="fas fa-check text-success"></i> Concluido</button></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="mx-3"><button class="btn btn-sm" name="situacao" value="delivery"><i class="fas fa-truck"></i> Entrega</button></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="mx-3"><button class="btn btn-sm" name="situacao" value="canceled"><i class="fas fa-times-circle text-danger"></i> Cancelar</button></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="mx-3"><button class="btn btn-sm" name="situacao" value="finished"><i class="fas fa-check-circle text-success"></i> Finalizar</button></li>
                                    </form>
                                </ul>
                            </td>
                           
                            <td><span class="text-primary font-weight-bold">{{infoEntrega.nomeCliente}}</span> </td>
                            <td>
                                <span class="text-primary font-weight-bold">{{infoEntrega.telefone}} <i class="fab fa-whatsapp text-success" data-bs-toggle="modal" data-bs-target="#modal-send-msg-WhatsApp" data-bs-telefone="{{infoEntrega.telefone}}" data-bs-nome="{{infoEntrega.nomeCliente}}" style="cursor: pointer;"></i> </span> 
                            </td>
                            <td>{{dataFormatTimeZone ../usuarioLogado.timeZone dataCriacao "DD/MM/YYYY HH:mm"}}</td>
                            <td>{{FormatValor valorTotal}}</td>
                            <td>{{pagamento.tipo}}
                                {{#if pagamento.forma}}
                                    <button class="btn btn-white btn-sm" type="button" id="dropdown-pagamento-{{_id}}" data-bs-toggle="dropdown" >
                                        +
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown-pagamento-{{_id}}">
                                        <div class="m-2">Forma: {{pagamento.forma}}</div>
                                        {{#if pagamento.trocoPara}}
                                            <div class="m-2">Troco para: <span class="valorFormatar">{{pagamento.trocoPara}}</span></div>
                                        {{/if}}
                                    </ul>
                                {{/if}}
                            </td>
                            <td>{{tipoEntrega}}</td>
                            <td class="format-pedido-situacao">{{{situacaoPedido situacao}}}</td>
                            <td>
                                {{#if pagamento.pago}}
                                    <i class="fas fa-check-circle text-success"></i> PAGO
                                {{else}}
                                    {{#if infoTransacao.pedidoPago}}
                                        <i class="fas fa-check-circle text-success"></i> PAGO
                                    {{else}}
                                        {{#if infoTransacao.pedidoCancelado}}
                                            <i class="fas fa-times-circle text-danger"></i> CANCELADO
                                        {{else}}
                                            <i class="fas fa-clock"></i> Aguardando
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            </td>
                            <td>{{idEstabelecimento.nome}}</td>
                        </tr>
                        <!-- End of Item -->
                        {{/each}}

                    </tbody>
                </table>
            </div>
            </div>
            <div class="mt-4">

                <div class="dropdown">
                <button class="btn btn-white btn-sm float-end" type="button" id="dropdown-limit-list" data-bs-toggle="dropdown">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown-limit-list">
                    <div class="text-center">Registro por página</div>
                    <div>
                        <button class="buttonClickLimit btn btn-light btn-sm ml-1 click-paginate" value="10">10</button>
                        <button class="buttonClickLimit btn btn-light btn-sm ml-1 click-paginate" value="20">20</button>
                        <button class="buttonClickLimit btn btn-light btn-sm ml-1 click-paginate" value="50">50</button>
                        <button class="buttonClickLimit btn btn-light btn-sm ml-1 click-paginate" value="100">100</button>
                        <button class="buttonClickLimit btn btn-light btn-sm ml-1 mr-1 click-paginate" value="200">200</button>
                    </div>
                </ul>
                </div>
                <span class="float-end mt-1 mr-4">{{pagination.startPage}} a {{pagination.endPage}} de {{pagination.totalPage}}</span>

                <nav class="page-pagination">
                    <ul class="pagination pagination-sm">
                    {{#paginate pagination type="first"}}
                        <li {{#if disabled}}class="page-item"{{/if}}><a class="page-link click-paginate" href="?paginate={{n}}">«</a></li>
                    {{/paginate}}
                    
                    {{#paginate pagination type="middle" limit="5"}}
                        <li {{#if active}}class="page-item active current" {{/if}}><a class="page-link click-paginate" href="?paginate={{n}}">{{n}}</a></li>
                    {{/paginate}}
                    
                    {{#paginate pagination type="last"}}
                        <li {{#if disabled}}class="page-item"{{/if}}><a class="page-link click-paginate" href="?paginate={{n}}">»</a></li>
                    {{/paginate}}
                    </ul>
                </nav>

                <script>
                    let filtro1 = $('#form-filtro-1').serialize()
                    let limit = "limit="+10

                    $('.click-paginate').click(function (e) {
                        event.preventDefault()
                        if(e.target.classList[0] == "buttonClickLimit"){
                            $('#filtro-pedido-limit').val(e.target.value)
                            $('#form-filtro-1').submit()
                        }else{
                            $(this).attr('href').slice(1)
                            paginate = $(this).attr('href').slice(1);
                            location.href = `?${paginate}&${filtro1}` ;
                        }
                    });
                </script>

            </div>
            <!-- Modal Edit pedidos -->
             <div class="modal fade" id="modal-edit-pedido" tabindex="-1" aria-labelledby="modal-edit-pedidos" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="h6 modal-title">Detalhes do pedido</h2>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" id="edit-pedido">
                </div>

                </div>
                    </div>
                </div>
            </div>

             <script>
                var modalSendnfomodal = document.getElementById('modal-edit-pedido')
                modalSendnfomodal.addEventListener('show.bs.modal', function (event) {
                    var button = event.relatedTarget
                    $('#send-edit-id').val(button.getAttribute('data-bs-id'))
                    $('#send-edit-estabelecimento').val(button.getAttribute('data-bs-estabelecimento'))
                })
            </script>

            <!-- Modal Envio WhatsApp -->
            <div class="modal fade" id="modal-send-msg-WhatsApp" tabindex="-1" aria-labelledby="modal-send-msg-WhatsAppLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="h6 modal-title">Enviar Mensagem WhatsApp</h2>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Nome: <span id="send-whatsapp-nome"></span></p>
                        <p>Telefone: <span id="send-whatsapp-telefone"></span></p>
                        <textarea id="send-whatsapp-msg" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-primary" id="button-send-whatsapp-msg">Enviar</button>
                        <button type="button" class="btn btn-link text-danger ml-auto" data-bs-dismiss="modal">Fechar</button>
                    </div>
                    </div>
                </div>
            </div>

            <script>
                var modalSendMsgWhatsApp = document.getElementById('modal-send-msg-WhatsApp')
                modalSendMsgWhatsApp.addEventListener('show.bs.modal', function (event) {
                    var button = event.relatedTarget
                    $('#send-whatsapp-nome').text(button.getAttribute('data-bs-nome'))
                    $('#send-whatsapp-telefone').text(button.getAttribute('data-bs-telefone'))
                    $('#send-whatsapp-msg').val('')
                })

                $('#button-send-whatsapp-msg').click(() => {
                    let number = $('#send-whatsapp-telefone').text()
                    let text = $('#send-whatsapp-msg').val()
                    window.open(`
                        https://wa.me/55${number.replace(/[^0-9]/g,'')}?text=${text}
                    `, '_blank');
                    
                    $('#modal-send-msg-WhatsApp').modal('hide')
                })
            </script>

        </div>
    </div>

</main>

</div>
</div>
</div>

 <script>
    function formatValor(valor) {
        return new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(valor)
         }
         let comandas = []
                    var modalEditPedidos = document.getElementById('modal-edit-pedido')
                    modalEditPedidos.addEventListener('show.bs.modal', function (event) {
                    var button = event.relatedTarget
                    var recipient = button.getAttribute('data-bs-whatever')
                    var recipient2 = button.getAttribute('data-bs-estabelecimento')          
                        jQuery.ajax({
                            type: "POST",
                            url: '/pedido/ajax-get-pedido',
                            data: {idPedido: recipient, idEstabelecimento: recipient2},
                            success: function (response) {
                               console.log(response)
                               
                                comandas.forEach((comanda, index) => {
                                    if (response.findIndex(pedido => pedido._id == comanda) == -1) {
                                        $(`#pedido-${comanda}`).remove()
                                        comandas.splice(index, 1)
                                    }
                                })

                                response.forEach((pedido, index) => {
                                    if (comandas.findIndex(element => element == pedido._id) == -1) {
                                        comandas.push(pedido._id)
                                        console.log('adicionar: ')
                                        $("#edit-pedido").empty()
                                        $("#edit-pedido").append(`  
                                        <span class="float-start mb-2" id="ButtonImpress">
                                           <button type="button" onclick="printContent('${pedido._id}', '${pedido.idEstabelecimento.impressora.bobina}','${pedido.idEstabelecimento.impressora.fonte}')" class="btn btn-primary btn-sm" value="Print Div Contents" ><i class="fas fa-print" ></i>&nbspImprimir </button>
                                            </span>                    
                                <div class="col-lg-8" id="pedido-${pedido._id}">
                                    <div class="card shadow-sm border-light justify-content-between" style="font-size: small; background-color:rgb(255, 237, 189)">
                                        <div class="card-body ">                                          
                                            <div id="comanda-${pedido._id}">
                                            <span class="d-block">Nome: ${pedido.infoEntrega.nomeCliente} </span>
                                            <span class="d-block">Telefone: ${pedido.infoEntrega.telefone}</span>
                                            <span class="d-block">Tipo Entrega: ${pedido.tipoEntrega}</span>
                                            <span class="d-block"><i class="fas fa-map-marker-alt text-danger"></i> ${pedido.idEstabelecimento.nome}</span>
                                            <hr>
                                            <span class="d-block" id="pedido-produtos-${pedido._id}">Produtos:</span>      
                                            <hr>
                                                <span class="d-block">Taxa Entrega:${formatValor(pedido.infoEntrega.taxaEntrega)}</span>
                                                <span class="d-block">Total pedido: ${formatValor(pedido.valorTotal)}</span>
                                                <hr>
                                               
                                                <div class="append-endereco-${pedido._id}">
                                                 </div>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                            `)

                                    if(pedido.infoEntrega.endereco.rua != ""){  
                                    $(`.append-endereco-${pedido._id}`).append(`
                                    <h6>Endereço</h6>
                                    <span class="d-block">Rua: ${pedido.infoEntrega.endereco.rua}</span>
                                    <span class="d-block">Bairro: ${pedido.infoEntrega.endereco.bairro}</span>
                                    {{#if pedido.infoEntrega.endereco.cep}}
                                    <span class="d-block">Cidade: ${pedido.infoEntrega.endereco.cidade}</span>
                                    <span class="d-block">CEP: ${pedido.infoEntrega.endereco.cep}</span>
                                    {{else}}{{/if}}
                                    <span class="d-block">Número: ${pedido.infoEntrega.endereco.numero}</span>
                                `)
                                        } 

                                        pedido.produtos.forEach(produto => {
                                            $(`#pedido-produtos-${pedido._id}`).append(`
                                    <button class="btn btn-sm my-2 d-block" style="background-color:rgb(252, 223, 145);font-size:18px;font-weight: bold;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-comanda-produto-${produto._id}" >
                                        <i class="fas fa-list"></i> ${produto.nome} - <span class="valorFormatar">${formatValor(produto.valor)}</span>
                                    </button>
                                    <div class="collapse show " id="collapse-comanda-produto-${produto._id}">
                                        
                                        <span class="my-1" id="pedido-${pedido._id}-produto-${produto._id}-opcao"></span>

                                        <span class="my-1" id="pedido-${pedido._id}-produto-${produto._id}-adicionais">Adicionais: </span>
                                        
                                        ${produto.observacao ? `<span class="d-block" class="my-1">Obeservação: ${produto.observacao} </span>` : ``}
                                        
                                        
                                        <span class="d-block">Qtd: ${produto.quantidade}</span>
                                        <span class="d-block">Total: <span class="valorFormatar">${formatValor(produto.valorTotal)}</span></span>
                                    </div>
                                    
                                `)

                                            produto.opcao.forEach(opcao => {
                                                $(`#pedido-${pedido._id}-produto-${produto._id}-opcao`).append(`
                                        <span class="my-1 d-block" id="pedido-${pedido._id}-produto-${produto._id}-opcao-${opcao._id}-opcoes">${opcao.nomeOpcao}: </span>
                                    `)

                                                opcao.opcoes.forEach(opcoes => {
                                                    $(`#pedido-${pedido._id}-produto-${produto._id}-opcao-${opcao._id}-opcoes`).append(`
                                            <span>${opcoes.nome} - ${formatValor(opcoes.valor)};</span>
                                        `)
                                                })
                                            })

                                            produto.adicionais.length == 0 ? $(`#pedido-${pedido._id}-produto-${produto._id}-adicionais`).remove() : produto.adicionais.forEach(adiconal => { $(`#pedido-${pedido._id}-produto-${produto._id}-adicionais`).append(` <span>${adiconal.nome} - ${formatValor(adiconal.valor)};</span>`) })
                                        })

                                    }
                                })
                                   
                            }
                        });
                    })
                    </script>

                     <script>
                    function printContent(el, el2, el3) {
                        $(`#comanda-${el}`).addClass("printable pagebreak");
                        $(`#comanda-${el}`).css("width", el2);
                        $(`#comanda-${el}`).css("font-size", el3);
                        window.print();

                        window.close()
                        $(`#comanda-${el}`).css("width", "");
                        $(`#comanda-${el}`).css("font-size", "");
                        $(`#comanda-${el}`).removeClass("printable pagebreak");


                    }
                </script>

<script>
     $(function() {     
   setTime()
     
   function setTime() {
      setTimeout(setTime, 20000);
      $('#loadpedidos').load(document.URL +  ' #loadpedidos');
      $('#loadscript').load(' #loadscript');

    }
 })
</script>


{{>usuario/_rodape}}

{{>_msg}}
