{{>usuario/_top-css}}

<div class="container-fluid bg-soft">
<div class="row">
<div class="col-12">
{{>usuario/_menu}}

<main class="content">
    
    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
            </ol>
        </nav>
    </div>

    <div>
        <button type="button" class="btn btn-primary btn-sm mb-4">+ Adicionar</button>
        <button class="btn btn-{{#if filtroExist}}danger{{else}}white{{/if}} btn-sm mb-4 float-end" data-bs-toggle="collapse" data-bs-target="#collapseExample"> <i class="fas fa-filter"></i> </button>
        

        <div class="collapse mb-4" id="collapseExample">
            <div class="card card-body">
                <form method="get">
                    <div class="row">
                        <div class="col-sm-4 mt-2">
                            <label for="filtro-conteudo">Nome Cliente / Telefone</label>
                            <input type="text" class="form-control" name="conteudo" id="filtro-conteudo" value="{{conteudo}}">
                        </div>
                        <div class="col-sm-4 mt-2">
                            <label for="floatingInputValue">Data Inicio</label>
                            <input type="datetime-local" class="form-control" name="dataInicio" id="floatingInputValue" value="{{dataInicio}}" required>
                        </div>
                        <div class="col-sm-4 mt-2">
                            <label for="floatingInputValue">Data Fim</label>
                            <input type="datetime-local" class="form-control" name="dataFim" id="floatingInputValue" value="{{dataFim}}" required>
                        </div>
                        <hr class="mt-4">
                        <div class="col-sm-3 mt-2">
                            <input name="pagamentoTipo" class="" id="filtro-pedido-pagamento-tipo" placeholder="Tipo pagamento" value="{{pagamentoTipo}}">
                        </div>
                        <div class="col-sm-3 mt-2">
                            <input name="pagamentoForma" class="" id="filtro-pedido-pagamento-forma" placeholder="Forma pagamento" value="{{pagamentoForma}}">
                        </div>
                        <div class="col-sm-3 mt-2">
                            <input name="situacao" class="" id="filtro-pedido-situacao" placeholder="Situacao" value="{{situacao}}">
                        </div>
                        <div class="col-sm-3 mt-2">
                            <input name="entregador" class="" id="filtro-pedido-entregador" placeholder="Entregador" value="{{entregador}}">
                        </div>
                        <div class="col-sm-3 mt-2">
                            <input name="tipoEntrega" class="" id="filtro-pedido-tipoEntrega"  placeholder="Tipo entrega" value="{{tipoEntrega}}">
                        </div>

                    </div>

                    <button class="btn btn-dark btn-sm mt-2" type="submit">Filtrar</button>
                    {{#if filtroExist}}<a href="/produto/produtos" class="btn btn-white btn-sm mt-2 text-danger">Limpar filtro</a>{{else}}{{/if}}
                </form>

                <script>

                    let tagifyFiltroPagamentoTipo = new Tagify(document.querySelector('input[id=filtro-pedido-pagamento-tipo]'), {
                        whitelist: ['mercadoPago', 'pagarRecebimento'],
                        editTags: false,
                        dropdown: {
                            maxItems: Infinity,
                            enabled : 0 // always opens dropdown when input gets focus
                        },
                    })

                    let tagifyFiltroPagamentoForma = new Tagify(document.querySelector('input[id=filtro-pedido-pagamento-forma]'), {
                        whitelist: ['dinheiro', 'pix', 'cartaoDebito', 'cartaoCredito'],
                        editTags: false,
                        dropdown: {
                            maxItems: Infinity,
                            enabled : 0 // always opens dropdown when input gets focus
                        },
                    })

                    let tagifyFiltroSituacao = new Tagify(document.querySelector('input[id=filtro-pedido-situacao]'), {
                        whitelist: ['Cancelado', 'Finalizado', 'Aguardando'],
                        editTags: false,
                        dropdown: {
                            maxItems: Infinity,
                            enabled : 0 // always opens dropdown when input gets focus
                        },
                    })

                    let tagifyFiltroTipoEntrega = new Tagify(document.querySelector('input[id=filtro-pedido-tipoEntrega]'), {
                        whitelist: ['retirarEstabelecimento', 'entrega'],
                        editTags: false,
                        dropdown: {
                            maxItems: Infinity,
                            enabled : 0 // always opens dropdown when input gets focus
                        },
                    })

                    let tagifyFiltroEntregador = new Tagify(document.querySelector('input[id=filtro-pedido-entregador]'), {
                        whitelist: [ {{#each entregadores}} {'idEntregador': '{{_id}}', value: '{{nome}}' },  {{/each}} ],
                        editTags: false,
                        dropdown: {
                            maxItems: Infinity,
                            enabled : 0 // always opens dropdown when input gets focus
                        },
                    })

                </script>
            </div>
        </div>
        
    </div>
    
    <div class="card border-light shadow-sm mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-0">#</th>
                            <th class="border-0">Nome Cliente</th>
                            <th class="border-0">Telefone Cliente</th>
                            <th class="border-0">Data</th>
                            <th class="border-0">Valor Total</th>
                            <th class="border-0">Tipo Pagamento</th>
                            <th class="border-0">Tipo Entrega</th>
                            <th class="border-0">Situação</th>
                            <th class="border-0">Pagamento</th>
                            <th>Estabelecimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each pedidos}}
                        <!-- Item -->
                        <tr>
                            <td><a href="/pedido/pedido?pedido='{{_id}}'" target="blank"><i class="fas fa-external-link-square-alt"></i></a></td>
                            <td><span class="text-primary font-weight-bold">{{infoEntrega.nomeCliente}}</span> </td>
                            <td><span class="text-primary font-weight-bold">{{infoEntrega.telefone}}</span> </td>
                            <td>{{dataFormatTimeZone ../usuarioLogado.timeZone dataCriacao "DD/MM/YYYY HH:mm"}}</td>
                            <td class="valorFormatar">{{valorTotal}}</td>
                            <td>{{pagamento.tipo}}
                                {{#if pagamento.forma}}
                                    <button class="btn btn-white btn-sm" type="button" id="dropdown-pagamento-{{_id}}" data-bs-toggle="dropdown" >
                                        +
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown-pagamento-{{_id}}">
                                        <div class="m-2">Forma: {{pagamento.forma}}</div>
                                        {{#if pagamento.trocoPara}}
                                            <div class="m-2">Troco para: <span class="valorFormatar">{{pagamento.trocoPara}}</span></div>
                                        {{/if}}
                                    </ul>
                                {{/if}}
                            </td>
                            <td>{{tipoEntrega}}</td>
                            <td>
                                {{#if cancelado}}
                                    <i class="fas fa-times-circle text-danger"></i> Cancelado
                                {{else}}
                                    {{#if finalizado}}
                                        <i class="fas fa-check-circle text-success"></i> Finalizado
                                    {{else}}
                                        <i class="fas fa-clock"></i> Aguardando
                                    {{/if}}
                                {{/if}}
                            </td>
                            <td>
                                {{#if pagamento.pago}}
                                    <i class="fas fa-check-circle text-success"></i> PAGO
                                {{else}}
                                    {{#if infoTransacao.pedidoPago}}
                                        <i class="fas fa-check-circle text-success"></i> PAGO
                                    {{else}}
                                        {{#if infoTransacao.pedidoCancelado}}
                                            <i class="fas fa-times-circle text-danger"></i> CANCELADO
                                        {{else}}
                                            <i class="fas fa-clock"></i> Aguardando
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            </td>
                            <td>{{idEstabelecimento.nome}}</td>
                        </tr>
                        <!-- End of Item -->
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

</div>
</div>
</div>

<script>
    $(".valorFormatar").each(function (item) {
        let textFormat = $(this).text()
        $(this).html(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(textFormat));
    })
</script>

{{>usuario/_rodape}}

{{>_msg}}
