{{>usuario/_top-css}}
 <title>Adicionais</title>
<link rel="stylesheet" href="/js/tagify/tagify.css">
<script src="/js/tagify//jQuery.tagify.min.js"></script>

<div class="container-fluid bg-soft">
<div class="row">
<div class="col-12">
{{>usuario/_menu}}

<style>
    .tagify--outside{
        border: 0;
    }

    .tagify--outside .tagify__input{
        order: 1;
        flex: 100%;
        border: 1px solid var(--tags-border-color);
        transition: .1s;
    }

    .tagify--outside .tagify__input:hover{ border-color:var(--tags-hover-border-color); }
    .tagify--outside.tagify--focus .tagify__input{
        transition:0s;
        border-color: var(--tags-focus-border-color);
    }
</style>

<main class="content">
    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a>Produto</a></li>
                <li class="breadcrumb-item"><a href="/produto/adicionais">Adicionais</a></li>
            </ol>
        </nav>
    </div>

    <button type="button" class="btn btn-primary btn-sm mb-4" data-bs-toggle="modal" data-bs-target="#modal-add-adicional">+ Adicionar</button>

    <div class="row">
        {{#each adicionais}}
        <div class="col-12 col-lg-3 mb-4" {{#if statusAtivo}}{{else}}style="filter: grayscale(100%);"{{/if}}>
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light d-flex justify-content-between">
                    <h2 class="h5 mb-0">{{nome}} - <span class="valorFormatar">{{valor}}</span></h2>
                    <a class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-edit-adicional" data-bs-whatever="{{_id}}"  style="height:30px;">Editar</a>
                </div>
                <div class="card-body">
                    <div style="font-size: small;">
                        <i class="fas fa-tag"></i>
                        <div class="btn btn-light btn-sm my-1" style="font-size: x-small;">{{idCategoriaAdicional.nome}}</div>
                    </div>
                    <div style="font-size: small;">
                        <i class="fas fa-map-marker-alt text-danger"></i>
                        <div class="btn btn-light btn-sm my-1" style="font-size: x-small;">{{idEstabelecimento.nome}}</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="modal fade" id="modal-edit-adicional" tabindex="-1" aria-labelledby="modal-edit-adicionalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-edit-adicionalLabel">Editar Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/produto/edit-adicionais" method="post">
                    <div class="row">
                        <div class="form-floating col-6">
                            <input type="text" class="form-control" id="edit-nome" name="nome" placeholder="-" required>
                            <label for="nome" class="ml-2">Nome</label>
                        </div>
                        <div class="form-floating col-6">
                            <input type="number" class="form-control" id="edit-valor" step=".01" name="valor" placeholder="-" required>
                            <label for="valor" class="ml-2">Valor (R$)</label>
                        </div>
                    </div>

                    <div class="mt-4">
                        <span id="ajax-categoriaAdicional" class="ml-2"></span>
                        <span id="ajax-estabelecimento" class="ml-4"></span>
                    </div>
                    
                    <input type="text" name="idAdicional" id="edit-idIngrediente" hidden  readonly>
                    <input type="text" name="idCategoriaAdicional" id="edit-idCategoriaProduto" hidden  readonly>
                    <input type="text" name="idEstabelecimento" id="edit-idEstabelecimento" hidden  readonly>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary btn-sm ">Salvar</button>
                        <button type="buttton" class="btn btn-white btn-sm "  data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                        
                        <div class="form-check form-switch float-end " style="font-size: small;">
                            <input class="form-check-input" type="checkbox" name="statusAtivo" id="edit-statusAtivo" value="true">
                            <label class="form-check-label" for="edit-statusAtivo">Ativo</label>
                        </div>
                    </div>

                </form>
            </div>
            </div>
        </div>
    </div>

    <script>
        var modalEditAdicional= document.getElementById('modal-edit-adicional')
        modalEditAdicional.addEventListener('show.bs.modal', function (event) {
            $('.form-check-input').prop('checked', false)

            var button = event.relatedTarget
            var recipient = button.getAttribute('data-bs-whatever')
            jQuery.ajax({
                type: "POST",
                url: '/produto/ajax-get-adicionais',
                data: {idAdicional: recipient},
                success: function(response) {
                    $('#edit-nome').val(response.nome)
                    $('#edit-valor').val(response.valor)
                    $(`#edit-statusAtivo`).prop('checked', response.statusAtivo)
                    $('#edit-idIngrediente').val(response._id)
                    $('#edit-idEstabelecimento').val(response.idEstabelecimento._id)
                    $('#edit-idCategoriaProduto').val(response.idCategoriaAdicional._id)
                    
                    $(`#ajax-categoriaAdicional`).html(`<i class="fas fa-tag"></i> ${response.idCategoriaAdicional.nome}`)
                    $(`#ajax-estabelecimento`).html(`<i class="fas fa-map-marker-alt text-danger"></i> ${response.idEstabelecimento.nome}`)
                }
            })
        })
    </script>

    <!-- Modal add adicionais -->
    <div class="modal fade" id="modal-add-adicional" tabindex="-1" aria-labelledby="modal-add-adicionalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                 {{#if categoriaAtiva}}
            <div class="modal-header">
                <h5 class="modal-title" id="modal-add-adicionalLabel">Adicionar Adicional</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/produto/add-adicionais" method="post">
                    <div class="row">
                        <div class="form-floating col">
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="-" required>
                            <label for="nome" class="ml-2">Nome</label>
                        </div>
                        <div class="form-floating col">
                            <input type="number" class="form-control" id="valor" step=".01" name="valor" placeholder="-" required>
                            <label for="valor" class="ml-2">Valor (R$)</label>
                        </div>
                    </div>

                    <div class="row mt-4 ml-2">
                        <h5>Estabelecimentos</h5>
                        {{#each usuarioLogado.estabelecimentosSelecionados}}
                            <div class="form-check form-switch col-6">
                                <input class="form-check-input" type="radio" name="idEstabelecimento" id="{{_id}}" value="{{_id}}" required>
                                <label class="form-check-label" for="{{_id}}">{{nome}}</label>
                            </div>
                        {{/each}}
                    </div>
                    <h5 class=" mt-4 ml-2">Categoria Adicional</h5>
                    <div class="row  ml-2" id="radio-add-adicional-categoria"></div>

                    <button type="submit" class="btn btn-primary btn-sm mt-4">Adicionar</button>
                    <buttoype="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-light btn-sm mt-4">Cancelar</button>
                </form>
            </div>
            </div>
        </div>
        {{else}}
            <div class="modal-header">
                <h5 class="modal-title" id="modal-add-adicionalLabel">Cadastre ou ative as categorias.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div style="margin-top: 20px;" class="text-center">
                <img src="/usuario/assets/img/favicon/categorias-null.png">
            <p class="h5" style="margin-top: 30px;">Nenhuma categoria de adicionais ativa identificada neste estabelecimento.</p>
            <p class="h5" style="margin-top: -10px;" >Ela é necessária para adicionar os adicionais.</p>
            <p class="h6" style="margin-top: 30px;">Clique no botão abaixo para adicionar ou ativar as categorias.</p>
            <a href="/produto/categoria-adicionais"><button type="button" class="btn btn-primary btn-sm mb-4">Adicionar categorias</button></a>
            </div>
         {{/if}}
    </div>

    <script> // script para adicionar categorias
        var categoriasAdicionais = {{{ categoriasAdicionais }}};
        $('input[type=radio][name=idEstabelecimento]').change(function() {
            $('#radio-add-adicional-categoria').empty()
            categoriasAdicionais.forEach(element => {
                if(element.idEstabelecimento._id == this.value){
                    $('#radio-add-adicional-categoria').append(`
                    <div class="form-check col-6 ">
                        <input class="form-check-input" type="radio" name="idCategoriaAdicional" id="${element._id}" value="${element._id}" required>
                        <label class="form-check-label" for="${element._id}">${element.nome}</label>
                    </div>
                    `)
                }
            })
        });
        
        $(".valorFormatar").each(function(item) {
            let textFormat = $(this).text()
            $(this).html(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(textFormat));
        }) 
    </script>

</main>

</div>
</div>
</div>

<script>
        $(document).ready(()=>{
            $('#prod').addClass("@@if (context.page === 'overview') { active }");
               $("#submenu-pages").collapse('toggle');
        });
    </script>

{{>usuario/_rodape}}

{{>_msg}}
