{{>usuario/_top-css}}

<div class="container-fluid bg-soft">
<div class="row">
<div class="col-12">
{{>usuario/_menu}}

<main class="content">
    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a>Produto</a></li>
                <li class="breadcrumb-item"><a href="/produto/categoria-adicionais">Categoria Adicionais</a></li>
            </ol>
        </nav>
    </div>

    <button type="button" class="btn btn-primary btn-sm mb-4" data-bs-toggle="modal" data-bs-target="#modal-adicionar-categoria">+ Adicionar</button>

    <div class="row">
        {{#each categorias}}
        <div class="col-12 col-lg-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light d-flex justify-content-between">
                    <h2 class="h5 mb-0">{{nome}}</h2>
                    <a class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-editar-estabelecimento" data-bs-whatever="{{_id}}">Editar</a>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush list my--3">
                        {{#each estabelecimentos}}
                        <li class="list-group-item px-0">
                            <div class="row align-items-center">
                            <div class="col-auto">
                                <!-- Avatar -->
                                <a href="#" class="user-avatar">
                                    <img class="rounded-circle" src="/img/perfil-avatar/svg/123.svg">
                                </a>
                            </div>
                            <div class="col-auto ml--2">
                                <h4 class="h6 mb-0">
                                    <a href="#">{{nome}}</a>
                                </h4>
                            </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="modal fade" id="modal-editar-estabelecimento" tabindex="-1" aria-labelledby="modal-editar-estabelecimentoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-editar-estabelecimentoLabel">Editar Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/produto/edit-categoria-adicionais" method="POST">
                    <div class="form-floating ">
                        <input type="text" class="form-control" id="edit-nome" name="nome" placeholder="-">
                        <label for="edit-nome" class="ml-2">Nome</label>
                    </div>

                    <div class="row mt-4 ml-2" id="checkEditEstabelecimentosVinculados">
                        <h5>Estabelecimentos</h5>
                    </div>

                    <input type="text" name="idCategoriaAdicional" id="edit-idCategoriaAdicional" hidden readonly>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary btn-sm ">Salvar</button>
                        <button type="buttton" class="btn btn-white btn-sm "  data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                        
                        <div class="form-check form-switch float-end " style="font-size: small;">
                            <input class="form-check-input" type="checkbox" name="statusAtivo" id="edit-statusAtivo" value="true">
                            <label class="form-check-label" for="edit-statusAtivo">Ativo</label>
                        </div>
                    </div>

                </form>
            </div>
            </div>
        </div>
    </div>

    <script>
        var modalEditCategoria = document.getElementById('modal-editar-estabelecimento')
        modalEditCategoria.addEventListener('show.bs.modal', function (event) {
            $('#checkEditEstabelecimentosVinculados').empty()
            var button = event.relatedTarget
            var recipient = button.getAttribute('data-bs-whatever')
            jQuery.ajax({
                type: "POST",
                url: '/produto/ajax-get-categoria-adicionais',
                data: {idCategoriaAdicional: recipient},
                success: function(response) {
                    console.log(response)
                    $('#edit-nome').val(response.nome)
                    $('#edit-idCategoriaAdicional').val(response._id)
                    $(`#edit-statusAtivo`).prop('checked', response.statusAtivo)

                    let estabelecimentosFiltrar = response.estabelecimentos.concat(response.estabelecimentosUsuario)
                    function getUniqueListBy(array, key) {
                        return [...new Map(array.map(item => [item[key], item])).values()]
                    }
                    const estabelecimentosFiltred = getUniqueListBy(estabelecimentosFiltrar, '_id')

                    console.log(estabelecimentosFiltred)

                    estabelecimentosFiltred.forEach(element => {
                        if(response.estabelecimentos.some( vendor => vendor['_id'] === element._id ) == true){
                            response.estabelecimentosUsuario.some( vendor => vendor['_id'] === element._id) == false ? hiddenBoolean = 'hidden' : hiddenBoolean =''
                            $('#checkEditEstabelecimentosVinculados').append(`
                            <div class="form-check form-switch col-6" ${hiddenBoolean}>
                                <input class="form-check-input" type="checkbox" name="estabelecimentos[]" id="edit-adicional${element._id}" value="${element._id}" checked readonly>
                                <label class="form-check-label" for="${element._id}">${element.nome}</label>
                            </div>
                            `)
                        }else{
                            $('#checkEditEstabelecimentosVinculados').append(`
                            <div class="form-check form-switch col-6" disabled>
                                <input class="form-check-input" type="checkbox" name="estabelecimentos[]" id="edit-adicional${element._id}" value="${element._id}"  >
                                <label class="form-check-label" for="${element._id}">${element.nome}</label>
                            </div>
                            `)
                        }
                    }) 

                    response.estabelecimentos.forEach(element => {
                        $(`#edit-categoria${element.idEstabelecimento}`).prop('checked', true)
                    })
                }
            });
        })
    </script>

    <!-- Modal add categoria -->
    <div class="modal fade" id="modal-adicionar-categoria" tabindex="-1" aria-labelledby="modal-adicionar-categoriaLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-adicionar-categoriaLabel">Adicionar Categoria Adicionais</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/produto/add-categoria-adicionais" method="post">
                    <div class="form-floating ">
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="-">
                        <label for="nome" class="ml-2">Nome</label>
                    </div>

                    <div class="row mt-4 ml-2">
                        <h5>Estabelecimentos</h5>
                        {{#each usuario.estabelecimentosVinculados}}
                            <div class="form-check form-switch col-6">
                                <input class="form-check-input" type="checkbox" name="estabelecimentos[]" id="{{_id}}" value="{{_id}}">
                                <label class="form-check-label" for="{{_id}}">{{nome}}</label>
                            </div>
                        {{/each}}
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm mt-4">Adicionar</button>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-light btn-sm mt-4">Cancelar</button>

                </form>
            </div>
            </div>
        </div>
    </div>

</main>

</div>
</div>
</div>

{{>usuario/_rodape}}

{{>_msg}}
