{{>usuario/_top-css}}

<link rel="stylesheet" href="/js/tagify/tagify.css">
<script src="/js/tagify//jQuery.tagify.min.js"></script>

<div class="container-fluid bg-soft">
<div class="row">
<div class="col-12">
{{>usuario/_menu}}

<style>
    .tagify--outside{
        border: 0;
    }

    .tagify--outside .tagify__input{
        order: 1;
        flex: 100%;
        border: 1px solid var(--tags-border-color);
        transition: .1s;
    }

    .tagify--outside .tagify__input:hover{ border-color:var(--tags-hover-border-color); }
    .tagify--outside.tagify--focus .tagify__input{
        transition:0s;
        border-color: var(--tags-focus-border-color);
    }
</style>

<main class="content">
    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a>Produto</a></li>
                <li class="breadcrumb-item"><a href="/produto/adicionais">Adicionais</a></li>
            </ol>
        </nav>
    </div>

    <button type="button" class="btn btn-primary btn-sm mb-4" data-bs-toggle="modal" data-bs-target="#modal-add-ingredientes">+ Adicionar</button>

    <div class="row">
        {{#each ingredientes}}
        <div class="col-12 col-lg-4 mb-4">
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light d-flex justify-content-between">
                    <h2 class="h5 mb-0">{{nome}}</h2>
                    <a class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-edit-ingredientes" data-bs-whatever="{{_id}}">Editar</a>
                </div>
                <div class="card-body">
                    <div style="font-size: small;">
                        <span>Categorias:</span>
                        {{#each categoriasProdutos}}
                            <div class="btn btn-light btn-sm my-1" style="font-size: x-small;">{{nome}}</div>
                        {{/each}}
                    </div>
                    <hr>

                    <div style="font-size: small;">
                        <span>Estabelecimentos:</span>
                        {{#each estabelecimentos}}
                            <div class="btn btn-light btn-sm my-1" style="font-size: x-small;">{{nome}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <!-- Modal edit ingredientes START -->
    <div class="modal fade" id="modal-edit-ingredientes" tabindex="-1" aria-labelledby="modal-edit-ingredientesLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-edit-ingredientesLabel">Editar Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/produto/edit-ingredientes" method="post">
                    <div class="row">
                        <div class="form-floating col">
                            <input type="text" class="form-control" id="edit-nome" name="nome" placeholder="-" required >
                            <label for="nome" class="ml-2">Nome</label>
                        </div>
                    </div>

                    <hr>
                    <div class="row mt-4 mx-2">
                        <h5>Categorias</h5>
                        <input name='categoriasProdutos' id="edit-categoriasProdutos" class='tagify--outside' placeholder='Selecione as categorias' >
                    </div>
                    <hr>

                    <div class="row mt-4 ml-2" id="checkEditEstabelecimentosVinculados">
                        <h5>Estabelecimentos</h5>
                    </div>

                    <input type="text" name="idIngrediente" id="edit-idIngrediente" hidden  readonly>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary btn-sm ">Salvar</button>
                        <button type="buttton" class="btn btn-white btn-sm "  data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                        
                        <div class="form-check form-switch float-end " style="font-size: small;">
                            <input class="form-check-input" type="checkbox" name="statusAtivo" id="edit-statusAtivo" value="true">
                            <label class="form-check-label" for="edit-statusAtivo">Ativo</label>
                        </div>
                    </div>

                </form>
            </div>
            </div>
        </div>
    </div>
    <!-- Modal edit ingredientes END -->

    <!-- Modal add ingredientes START -->
    <div class="modal fade" id="modal-add-ingredientes" tabindex="-1" aria-labelledby="modal-add-ingredientesLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-add-ingredientesLabel">Adicionar Ingredientes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/produto/add-ingredientes" method="post">
                    <div class="row">
                        <div class="form-floating col">
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="-" required>
                            <label for="nome" class="ml-2">Nome</label>
                        </div>
                    </div>

                    <hr>
                    <div class="row mt-4 mx-2">
                        <h5>Categorias</h5>
                        <input name='categoriasProdutos' id="add-categoriasProdutos" class='tagify--outside' placeholder='Selecione as categorias' >
                    </div>
                    <hr>

                    <div class="row mt-4 ml-2">
                        <h5>Estabelecimentos</h5>
                        {{#each usuario.estabelecimentosVinculados}}
                            <div class="form-check form-switch col-6">
                                <input class="form-check-input" type="checkbox" name="estabelecimentos[]" id="{{_id}}" value="{{_id}}">
                                <label class="form-check-label" for="{{_id}}">{{nome}}</label>
                            </div>
                        {{/each}}
                    </div>

                    <button type="submit" class="btn btn-primary btn-sm mt-4">Adicionar</button>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-light btn-sm mt-4">Cancelar</button>

                </form>
            </div>
            </div>
        </div>
    </div>
    <!-- Modal add ingredientes END -->

    <script> // script para adicionar categorias
        var tagAdicionais = document.querySelector('input[id=add-categoriasProdutos]')
        var tagifyAdd = new Tagify(tagAdicionais, {
            whitelist: [ {{#each categoriasProdutos}} {'idCategoriaProduto': '{{_id}}', value: '{{nome}}' },  {{/each}} ],
            editTags: false,
            dropdown: {
                position: "input",
                maxItems: Infinity,
                closeOnSelect : false,
                enabled : 0 // always opens dropdown when input gets focus
            },
            enforceWhitelist: true
        })

        var tagEditAdicionais = document.querySelector('input[id=edit-categoriasProdutos]')
        var tagifyEdit = new Tagify(tagEditAdicionais, {
            whitelist: [ {{#each categoriasProdutos}} {'idCategoriaProduto': '{{_id}}', value: '{{nome}}' },  {{/each}} ],
            editTags: false,
            dropdown: {
                position: "input",
                maxItems: Infinity,
                closeOnSelect : false,
                enabled : 0 // always opens dropdown when input gets focus
            },
            enforceWhitelist: true
        })      

        var modalEditCategoria = document.getElementById('modal-edit-ingredientes')
        modalEditCategoria.addEventListener('show.bs.modal', function (event) {

            $('.form-check-input').prop('checked', false) // desmarcar todos os check - ainda analisar como irá reagir
            tagifyEdit.removeAllTags()
            $('#checkEditEstabelecimentosVinculados').empty()

            var button = event.relatedTarget
            var recipient = button.getAttribute('data-bs-whatever')
            jQuery.ajax({
                type: "POST",
                url: '/produto/ajax-get-ingredientes',
                data: {idIngrediente: recipient},
                success: function(response) {
                    $('#edit-nome').val(response.nome)
                    $(`#edit-idIngrediente`).val(response._id)
                    $(`#edit-statusAtivo`).prop('checked', response.statusAtivo)

                    let estabelecimentosFiltrar = response.estabelecimentos.concat(response.estabelecimentosUsuario)
                    function getUniqueListBy(array, key) {
                        return [...new Map(array.map(item => [item[key], item])).values()]
                    }
                    const estabelecimentosFiltred = getUniqueListBy(estabelecimentosFiltrar, '_id')

                    estabelecimentosFiltred.forEach(element => {
                        if(response.estabelecimentos.some( vendor => vendor['_id'] === element._id ) == true){
                            response.estabelecimentosUsuario.some( vendor => vendor['_id'] === element._id) == false ? hiddenBoolean = 'hidden' : hiddenBoolean =''
                            $('#checkEditEstabelecimentosVinculados').append(`
                            <div class="form-check form-switch col-6" ${hiddenBoolean}>
                                <input class="form-check-input" type="checkbox" name="estabelecimentos[]" id="edit-adicional${element._id}" value="${element._id}" checked readonly>
                                <label class="form-check-label" for="${element._id}">${element.nome}</label>
                            </div>
                            `)
                        }else{
                            $('#checkEditEstabelecimentosVinculados').append(`
                            <div class="form-check form-switch col-6" disabled>
                                <input class="form-check-input" type="checkbox" name="estabelecimentos[]" id="edit-adicional${element._id}" value="${element._id}"  >
                                <label class="form-check-label" for="${element._id}">${element.nome}</label>
                            </div>
                            `)
                        }
                    }) 

                    response.categoriasProdutos.forEach(element => {
                        tagifyEdit.addTags(element.nome)
                    })
                }
            });
        })
        
        $(".valorFormatar").each(function(item) {
            let textFormat = $(this).text()
            $(this).html(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(textFormat));
        }) 
    </script>

</main>

</div>
</div>
</div>

{{>usuario/_rodape}}

{{>_msg}}
