{{>usuario/_top-css}}

<link rel="stylesheet" href="/js/tagify/tagify.css">
<script src="/js/tagify//jQuery.tagify.min.js"></script>

<div class="container-fluid bg-soft">
<div class="row">
<div class="col-12">
{{>usuario/_menu}}


<main class="content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
            <li class="breadcrumb-item"><a>Produto</a></li>
            <li class="breadcrumb-item"><a href="/produto/produtos">Produtos</a></li>
        </ol>
    </nav>

    <div>
     
        <button type="button" class="btn btn-primary btn-sm mb-4" data-bs-toggle="modal" data-bs-target="#modal-add-produtos">+ Adicionar</button>
        <button class="btn btn-{{#if filtroExist}}danger{{else}}white{{/if}} btn-sm mb-4 float-end" data-bs-toggle="collapse" data-bs-target="#collapseExample"> <i class="fas fa-filter"></i> </button>

        <div class="collapse mb-4" id="collapseExample">
            <div class="card card-body">
                <form method="get">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-floating">
                                <input type="text" class="form-control" name="nome" id="filtro-nome" value="{{nome}}" placeholder="-">
                                <label for="filtro-nome">Nome</label>
                            </div>
                        </div>
                        <div class="col-sm">
                            <input name="idCategorias" class="" id="filtro-categorias-produtos" placeholder="Categorias" value="{{idCategorias}}">
                        </div>
                    </div>
                    <button class="btn btn-dark btn-sm mt-2" type="submit">Filtrar</button>
                    {{#if filtroExist}}<a href="/produto/produtos" class="btn btn-white btn-sm mt-2 text-danger">Limpar filtro</a>{{else}}{{/if}}
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        {{#each produtos}}
        <div class="col-12 col-lg-3 mb-4"{{#if statusAtivo}}  {{else}} style="filter: grayscale(100%);" {{/if}}>
            <div class="card border-light shadow-sm">
                <div class="card-header border-bottom border-light d-flex justify-content-between">
                    <h2 class="h5 mb-0">{{nome}}</h2>
                    <a type="submit" class="btn btn-sm btn-secondary" href="/produto/perfil?produto={{_id}}" style="width:40px;height:30px">Ver</a>
                </div>
                <div class="card-body">
                    <h5 class="mt-2 text-center valorFormatar">{{valor}}</h5>
                    <div style="font-size: small;">
                        <i class="fas fa-tag"></i>
                        <div class="btn btn-light btn-sm my-1" style="font-size: x-small;">{{idCategoriaProduto.nome}}</div>
                    </div>
                    <div style="font-size: small;">
                        <i class="fas fa-map-marker-alt text-danger"></i>
                        <div class="btn btn-light btn-sm my-1" style="font-size: x-small;">{{idEstabelecimento.nome}}</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <!-- Modal add Produtos START -->
    <div class="modal fade" id="modal-add-produtos" tabindex="-1" aria-labelledby="modal-add-produtosLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
                 {{#if categoriaAtiva}}
            <div class="modal-header">
                <h5 class="modal-title" id="modal-add-produtosLabel">Adicionar Produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/produto/add-produto" method="post">
                    <div class="row">
                        <div class="form-floating col">
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="-" required>
                            <label for="nome" class="ml-2">Nome *</label>
                        </div>
                        <div class="form-floating col-6">
                            <input type="number" class="form-control" id="valor" step=".01" name="valor" placeholder="-" required>
                            <label for="valor" class="ml-2">Valor (R$) *</label>
                        </div>
                    </div>
                    <div class="form-floating mt-2">
                        <textarea class="form-control" name="descricao" id="descricao" style="height: 100px"></textarea>
                        <label for="descricao" class="form-label">Descrição</label>
                    </div>

                    <h5 class="mt-4 ml-2">Estabelecimentos</h5>
                    <div class="row  ml-2">
                        {{#each estabelecimentos}}
                            <div class="form-check form-switch col-6">
                                <input class="form-check-input" type="radio" name="idEstabelecimento" id="{{_id}}" value="{{_id}}" required>
                                <label class="form-check-label" for="{{_id}}">{{nome}}</label>
                            </div>
                        {{/each}}
                    </div>
                    
                    <h5 class="mt-4 ml-2">Categoria Produto</h5>
                    <div class="row  ml-2" id="radio-add-produto-categoria-produto"></div>

                    <button type="submit" class="btn btn-primary btn-sm mt-4">Adicionar</button>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-light btn-sm mt-4">Cancelar</button>

                </form>
            </div>
            </div>
        </div>
       
        {{else}}
        <div class="modal-header">
                <h5 class="modal-title" id="modal-add-adicionalLabel">Cadastre ou ative as categorias.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div style="margin-top: 20px;" class="text-center">
                <img src="/usuario/assets/img/favicon/categorias-null.png">
            <p class="h5" style="margin-top: 30px;">Nenhuma categoria de produtos ativa identificada neste estabelecimento.</p>
            <p class="h5" style="margin-top: -10px;" >Ela é necessária para adicionar produtos.</p>
            <p class="h6" style="margin-top: 30px;">Clique no botão abaixo para adicionar ou ativar as categorias.</p>
            <a href="/produto/categoria-produtos"><button type="button" class="btn btn-primary btn-sm mb-4">Adicionar categorias</button></a>
            </div>
         {{/if}}
        
    </div>
    <!-- Modal add Produtos END -->

    <script> // script para adicionar categorias
        var categoriasProdutos = {{{ categoriasProdutos }}};
        $('input[type=radio][name=idEstabelecimento]').change(function() {
            $('#radio-add-produto-categoria-produto').empty()
            categoriasProdutos.forEach(element => {
                if(element.idEstabelecimento._id == this.value){
                    $('#radio-add-produto-categoria-produto').append(`
                    <div class="form-check col-6 ">
                        <input class="form-check-input" type="radio" name="idCategoriaProduto" id="${element._id}" value="${element._id}" required>
                        <label class="form-check-label" for="${element._id}">${element.nome}</label>
                    </div>
                    `)
                }
            })
        });
        
        var tagAddOpcoesProduto = document.querySelector('input[id=filtro-categorias-produtos]')
        var tagifyAddOpcoesProduto = new Tagify(tagAddOpcoesProduto, {
            editTags: false,
            dropdown: {
                maxItems: Infinity,
                enabled : 0 // always opens dropdown when input gets focus
            },
        })

        console.log(categoriasProdutos)
        categoriasProdutos.forEach(element => {
            tagifyAddOpcoesProduto.settings.whitelist.push({'idCategoria': element._id, value: `${element.nome} - ${element.idEstabelecimento.nome}`})
        })
        
        $(".valorFormatar").each(function(item) {
            let textFormat = $(this).text()
            $(this).html(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(textFormat));
        }) 

    </script>

</main>

</div>
</div>
</div>

{{>usuario/_rodape}}

{{>_msg}}
