{{>usuario/_top-css}}

<link rel="stylesheet" href="/js/tagify/tagify.css">
<script src="/js/tagify//jQuery.tagify.min.js"></script>

<div class="container-fluid bg-soft">
<div class="row">
<div class="col-12">
{{>usuario/_menu}}

<style>
    .tagify--outside{
        border: 0;
    }

    .tagify--outside .tagify__input{
        order: 1;
        flex: 100%;
        border: 1px solid var(--tags-border-color);
        transition: .1s;
    }

    .tagify--outside .tagify__input:hover{ border-color:var(--tags-hover-border-color); }
    .tagify--outside.tagify--focus .tagify__input{
        transition:0s;
        border-color: var(--tags-focus-border-color);
    }

    .spinner-loading{
        position: fixed;      /* SET TO FIXED */
        top: 50%;
        left: 50%;
        z-index: 1001; 
    }
</style>


<main class="content mb-4">

    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/dashboard"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a>Produto</a></li>
                <li class="breadcrumb-item"><a href="/produto/produtos">Produtos</a></li>
                <li class="breadcrumb-item">{{produto.nome}}</li>
            </ol>
        </nav>
    </div>
    
    <div class="row">
        <!-- infos a esquerda START --> 
        <div class="col-12 col-xl-4">
            <div class="card border-light text-center p-0">
                <div class="profile-cover rounded-top" style="background-color: rgb(201, 201, 201);"></div>
                <div class="card-body pb-5">
                    <img src="/img/perfil-avatar/svg/{{usuario.perfilAvatar}}.svg" class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4">
                    <button type="button" class="btn btn-secondary btn-sm mb-4  " data-bs-toggle="modal" data-bs-target="#modal-edit-produto">Editar Produto</button>
                    <h4 class="">{{produto.nome}}</h4>
                    <h5 class="valorFormatar">{{produto.valor}}</h5>
                    <h6><i class="fas fa-tag"></i> {{produto.idCategoriaProduto.nome}}</h6>
                    <h6><i class="fas fa-map-marker-alt text-danger"></i> {{produto.idEstabelecimento.nome}}</h6>
                    <p class="fw-light">Descrição: {{produto.descricao}}</p>
                </div>
            </div>
            
        </div>
        <!-- infos a esquerda END --> 
        
        

        <!-- infos a direita START --> 
        <div class="col-12 col-xl-8">

        <ul class="nav nav-pills " id="pills-tab" role="tablist">
            <li class="nav-item" >
                <button class="nav-link active" id="perfil-produto" data-bs-toggle="pill" data-bs-target="#nav-opcoes-and-adicionais" type="button" role="tab" aria-selected="true">Opções/Adicionais</button>
            </li>
            <li class="nav-item">
                <button class="nav-link " id="perfil-produto" data-bs-toggle="pill" data-bs-target="#nav-ingredientes" type="button" role="tab" aria-selected="false">Ingredientes</button>
            </li>
        </ul>
        <div class="tab-content">
            <!-- Navbar para opcoes e adicionais START --> 
            <div class="tab-pane fade show active" id="nav-opcoes-and-adicionais">

                <!-- Parte para os opcoes START --> 
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <div class="h5 ">Opções 
                        <button class="btn btn-secondary btn-sm float-end " data-bs-toggle="modal" data-bs-target="#modal-add-opcao">Criar opção</button>
                    </div>

                    {{#each produto.opcao}}
                    <div class="card card-body bg-light border-light  my-1">
                        <div>

                            <div class="dropdown float-end">
                                <button class="btn btn-white btn-sm  float-end dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">+</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-add-opcoes-individual" data-bs-idOpcao="{{_id}}" data-bs-vinculoProduto="{{vinculoProduto}}" >Individual</a></li>
                                    <li><a class="dropdown-item" href="#">Modelo de opções</a></li>
                                </ul>
                            </div>
                            <button class="btn btn-white btn-sm  float-end mr-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-opcao-{{_id}}"><i class="fas fa-list"></i></button>
                            <button class="btn btn-white btn-sm  float-end mx-1" type="button" data-bs-idOpcao="{{_id}}" data-bs-nome="{{nome}}" data-bs-descricao="{{descricao}}" data-bs-multiplaEscolha="{{multiplaEscolha}}" data-bs-vinculoProduto="{{vinculoProduto}}" data-bs-dividendo="{{dividendo}}"  data-bs-obrigatorio="{{obrigatorio}}"  data-bs-toggle="modal" data-bs-target="#modal-edit-opcao"><i class="fas fa-pen"></i></button>
                            
                            <div>Nome: {{nome}}</div>
                            {{#if descricao}}
                            <div>Descricao: {{descricao}}</div>
                            {{/if}}
                            <div>Multipla Escolha: <span class="formatarTrueFalse">{{multiplaEscolha}}</span></div>

                        </div>

                        <div class="collapse" id="collapse-opcao-{{_id}}">
                            <hr>
                            <div class="table-responsive " style="max-height:300px">
                            <table class="table table-sm border-white table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Valor</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form action="/produto/delete-produto-opcoes/{{vinculoProduto}}/{{_id}}" method="post">
                                    <input type="text" name="idProduto" class="idProduto-remove-opcao-opcoes" hidden readonly>
                                    {{#if vinculoProduto}}

                                        {{#each opcoesProduto}}
                                        <tr>
                                            <th >{{idProduto.nome}}</th>
                                            <th class="valorFormatar">{{idProduto.valor}}</th>
                                            <td><button type="submit" class="btn btn-light btn-sm text-danger" name="id_opcoes_opcoes" value="{{_id}}" style="font-size: small;">X</button></td>
                                        </tr>
                                        {{/each}}

                                    {{else}}

                                        {{#each opcoes}}
                                        <tr>
                                            <th >{{nome}}</th>
                                            <th class="valorFormatar">{{valor}}</th>
                                            <td><button type="submit" class="btn btn-light btn-sm text-danger" name="id_opcoes_opcoes" value="{{_id}}" style="font-size: small;">X</button></td>
                                        </tr>
                                        {{/each}}

                                    {{/if}}
                                    </form>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                    <script>
                        $('.idProduto-remove-opcao-opcoes').val('{{produto._id}}')
                    </script>

                    <!-- Modal add opcoes INDIVIDUAL START-->
                    <div class="modal fade" id="modal-add-opcoes-individual" tabindex="-1" aria-labelledby="modal-add-opcoes-individualLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-add-opcoes-individualLabel">Adicionar Opções</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/produto/add-produto-opcoes-individual"  method="post">
                                    <input type="text" name="idProduto" value="{{produto._id}}" hidden readonly>
                                    <input type="text" name="idOpcao" id="edit-idOpcao-individual" hidden  readonly>
                                    <input type="text" name="vinculoProduto" id="edit-idOpcao-vinculoProduto" hidden  readonly>
                                    
                                    <div class="row" id="div-add-produto-opcoes-individual-false-vinculoProduto">
                                        <div class="form-floating col-6">
                                            <input type="text" class="form-control" id="opcao-nome-individual"  name="nome" placeholder="-" >
                                            <label for="opcao-nome-individual" class="ml-2">Nome *</label>
                                        </div>
                                        <div class="form-floating col-6">
                                            <input type="number" class="form-control" id="opcao-valor-individual" step=".01" name="valor" placeholder="-" >
                                            <label for="opcao-valor-individual" class="ml-2">Valor (R$) *</label>
                                        </div>
                                        <h6 class="mt-2">* Caso seja valor GRÁTIS, insira o valor 0 no campo</h6>
                                    </div>

                                    <div class="row" id="div-add-produto-opcoes-individual-true-vinculoProduto">
                                        <input  class='tagify--outside' name="idProdutos" id="add-opcoes-produtos">
                                    </div>


                                    <button type="submit" class="btn btn-primary btn-sm mt-2">Adicionar</button>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        var tagAddOpcoesProduto = document.querySelector('input[id=add-opcoes-produtos]')
                        var tagifyAddOpcoesProduto = new Tagify(tagAddOpcoesProduto, {
                            editTags: false,
                            dropdown: {
                                position: "input",
                                maxItems: Infinity,
                                closeOnSelect : false,
                                enabled : 0 // always opens dropdown when input gets focus
                            },
                        })

                        var modalAddOpcoesIndividualProduto = document.getElementById('modal-add-opcoes-individual')
                        modalAddOpcoesIndividualProduto.addEventListener('show.bs.modal', function (event) {
                            
                            var button = event.relatedTarget
                            $('#edit-idOpcao-individual').val(button.getAttribute('data-bs-idOpcao'))
                            $('#edit-idOpcao-vinculoProduto').val(button.getAttribute('data-bs-vinculoProduto'))

                            if(button.getAttribute('data-bs-vinculoProduto') == 'true'){
                                $('#div-add-produto-opcoes-individual-false-vinculoProduto').hide()
                                $('#div-add-produto-opcoes-individual-true-vinculoProduto').show()
                                
                                tagifyAddOpcoesProduto.settings.whitelist.length = 0;
                                tagifyAddOpcoesProduto.removeAllTags()
                                tagifyAddOpcoesProduto.loading(true)
                                jQuery.ajax({
                                    type: "POST",
                                    url: '/produto/ajax-get-produto-produtos-opcoes-produtos',
                                    data: {idProduto: '{{produto._id}}'},
                                    success: function(response) {
                                        response.forEach(element => {
                                            console.log(element)
                                            tagifyAddOpcoesProduto.settings.whitelist.push({'idProduto': element._id, value: `${element.nome} - ${element.idCategoriaProduto.nome}`})
                                        })
                                        tagifyAddOpcoesProduto.loading(false)
                                    }
                                });
                            }else{
                                $('#div-add-produto-opcoes-individual-false-vinculoProduto').show()
                                $('#div-add-produto-opcoes-individual-true-vinculoProduto').hide()
                            }
                        })
                    </script>
                    <!-- Modal add opcoes INDIVIDUAL END-->

                    <!-- Modal edit opção START-->
                    <div class="modal fade" id="modal-edit-opcao" tabindex="-1" aria-labelledby="modal-edit-opcaoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-edit-opcaoLabel">Editar Opção <i class="fas fa-question-circle text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="Caso não tenha descrição, deixe o campo em branco"></i></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/produto/edit-produto-opcao" method="post">
                                    <input type="text" name="idProduto" value="{{produto._id}}" hidden readonly>
                                    <input type="text" name="idOpcao" id="edit-idOpcao" hidden  readonly>

                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="edit-opcao-nome"  name="nome" placeholder="-" required>
                                        <label for="edit-opcao-nome" class="ml-2">Nome *</label>
                                    </div>
                                    <div class="form-floating mt-2">
                                        <input type="text" class="form-control" id="edit-opcao-descricao"  name="descricao" placeholder="-" >
                                        <label for="edit-opcao-descricao" class="ml-2">Descrição</label>
                                    </div>

                                    <div class="form-check form-switch  mt-2">
                                        <input class="form-check-input" type="checkbox" id="edit-opcao-obrigatorio" name="obrigatorio" value="true">
                                        <label class="form-check-label" for="edit-opcao-obrigatorio">Obrigatório</label>
                                    </div>

                                    <div class="form-check form-switch  mt-2">
                                        <input class="form-check-input" type="checkbox" id="edit-opcao-multiplaEscolha" name="multiplaEscolha" value="true">
                                        <label class="form-check-label" for="edit-opcao-multiplaEscolha">Multipla Escolha</label>
                                    </div>

                                    <div class="form-check form-switch  mt-2">
                                        <input class="form-check-input" type="checkbox" id="edit-opcao-vinculoProduto" name="vinculoProduto" value="true">
                                        <label class="form-check-label" for="edit-opcao-vinculoProduto">Vinculo Produto <i class="fas fa-question-circle text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="Caso a opção seja para vincular produtos as opções. Se enquadra em situações de pizzas onde o usuário monta"></i></label>
                                    </div>

                                    <div id="edit-div-opcoes-dividendo">
                                        <label for="edit-opcao-dividendo" class="mt-2">Dividendo <i class="fas fa-question-circle text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="Exemplo: uma pizza onde usuário monta, ele escolhe a primeira opção que seria o valor total da pizza divido por 2, e a segunda metade fica para a segunda opção fazer a mesma divisão"></i></label>
                                        <input type="text" class="form-control mb-2" id="edit-opcao-dividendo"  name="dividendo"  >
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-sm mt-2">Salvar</button>

                                    <script>
                                        $('#edit-div-opcoes-dividendo').hide()
                                        $('#edit-opcao-multiplaEscolha').change(() => {
                                            $('#edit-opcao-vinculoProduto').prop('checked', false)
                                            $('#edit-div-opcoes-dividendo').hide()
                                        })

                                        $('#edit-opcao-vinculoProduto').change((e) => {
                                            $('#edit-opcao-multiplaEscolha').prop('checked', false)
                                            if(e.currentTarget.checked == true){
                                                $('#edit-div-opcoes-dividendo').show()
                                            }else{
                                                $('#edit-div-opcoes-dividendo').hide()
                                            }
                                        })
                                    </script>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        var modalEditOpcaoProduto = document.getElementById('modal-edit-opcao')
                        modalEditOpcaoProduto.addEventListener('show.bs.modal', function (event) {
                            var button = event.relatedTarget
                            $('#edit-idOpcao').val(button.getAttribute('data-bs-idOpcao'))
                            $('#edit-opcao-nome').val(button.getAttribute('data-bs-nome'))
                            $('#edit-opcao-dividendo').val(button.getAttribute('data-bs-dividendo'))
                            $('#edit-opcao-descricao').val(button.getAttribute('data-bs-descricao'))

                            button.getAttribute('data-bs-obrigatorio')  == "true" ? obrigatorio = true : obrigatorio = false
                            $('#edit-opcao-obrigatorio').prop('checked', obrigatorio )

                            button.getAttribute('data-bs-multiplaEscolha')  == "true" ? multiplaEscolha = true : multiplaEscolha = false

                            $('#edit-opcao-multiplaEscolha').prop('checked', multiplaEscolha )

                            if(button.getAttribute('data-bs-vinculoProduto')  == "true"){
                                $('#edit-opcao-vinculoProduto').prop('checked', true)
                                $('#edit-div-opcoes-dividendo').show()
                            }else{
                                $('#edit-opcao-vinculoProduto').prop('checked', false)
                                $('#edit-div-opcoes-dividendo').hide()
                            }
                        })
                    </script>
                    <!-- Modal edit opção END-->

                    <!-- Modal add opção START-->
                    <div class="modal fade" id="modal-add-opcao" tabindex="-1" aria-labelledby="modal-add-opcaoLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-add-opcaoLabel">Criar Opção <i class="fas fa-question-circle text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="Caso não tenha descrição, deixe o campo em branco"></i></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/produto/add-produto-opcao" method="post">
                                    <input type="text" name="idProduto" value="{{produto._id}}" hidden readonly>
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="opcao-nome"  name="nome" placeholder="-" required>
                                        <label for="opcao-nome" class="ml-2">Nome *</label>
                                    </div>
                                    <div class="form-floating mt-2">
                                        <input type="text" class="form-control" id="opcao-descricao"  name="descricao" placeholder="-" >
                                        <label for="opcao-descricao" class="ml-2">Descrição</label>
                                    </div>

                                    <div class="form-check form-switch  mt-2">
                                        <input class="form-check-input" type="checkbox" id="opcao-multiplaEscolha" name="multiplaEscolha" value="true">
                                        <label class="form-check-label" for="opcao-multiplaEscolha">Multipla Escolha</label>
                                    </div>

                                    <div class="form-check form-switch  mt-2">
                                        <input class="form-check-input" type="checkbox" id="opcao-vinculoProduto" name="vinculoProduto" value="true">
                                        <label class="form-check-label" for="opcao-vinculoProduto">Vinculo Produto <i class="fas fa-question-circle text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="Caso a opção seja para vincular produtos as opções. Se enquadra em situações de pizzas onde o usuário monta"></i></label>
                                    </div>

                                    <div id="div-opcoes-dividendo">
                                        <label for="opcao-dividendo" class="mt-2">Dividendo <i class="fas fa-question-circle text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="Exemplo: uma pizza onde usuário monta, ele escolhe a primeira opção que seria o valor total da pizza divido por 2, e a segunda metade fica para a segunda opção fazer a mesma divisão"></i></label>
                                        <input type="text" class="form-control mb-2" id="opcao-dividendo"  name="dividendo"  >
                                    </div>

                                    <script>
                                        $('#div-opcoes-dividendo').hide()
                                        $('#opcao-multiplaEscolha').change(() => {
                                            $('#opcao-vinculoProduto').prop('checked', false)
                                            $('#div-opcoes-dividendo').hide()
                                        })

                                        $('#opcao-vinculoProduto').change((e) => {
                                            $('#opcao-multiplaEscolha').prop('checked', false)
                                            if(e.currentTarget.checked == true){
                                                $('#div-opcoes-dividendo').show()
                                            }else{
                                                $('#div-opcoes-dividendo').hide()
                                            }
                                        })
                                    </script>

                                    <button type="submit" class="btn btn-primary btn-sm mt-2">Criar</button>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal add opção END-->


                </div>

                <!-- Parte para os opcoes END --> 

                <!-- Parte para os adicionais START --> 
                <div class="card card-body bg-white border-light shadow-sm mb-4">
                    <div class="h5">Adicionais 
                        <div class="dropdown float-end">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdown-button-add-adiocinais" data-bs-toggle="dropdown" aria-expanded="false">
                                Adicionar
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown-button-add-adiocinais">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-add-adicionais-individual" >Individual</a></li>
                                <li><a class="dropdown-item" href="#">Modelo de adicional</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="table-responsive " style="max-height:300px">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Adicional</th>
                                <th scope="col">Valor</th>
                                <th>Categoria</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="/produto/delete-produto-adicional" method="post">
                            <input type="text" name="idProduto" value="{{produto._id}}" hidden>
                            {{#each produto.adicionais}}
                            <tr>
                                <th >{{idAdicional.nome}}</th>
                                <th class="valorFormatar">{{idAdicional.valor}}</th>
                                <th>{{idCategoriaAdicional.nome}}</th>
                                <td><button type="submit" class="btn btn-white btn-sm text-danger" name="idObjectAdicional" value="{{_id}}" style="font-size: small;">X</button></td>
                            </tr>
                            {{/each}}
                            </form>
                        </tbody>
                    </table>
                    </div>

                    <!-- Modal add adicionais individual START-->
                    <div class="modal fade" id="modal-add-adicionais-individual" tabindex="-1" aria-labelledby="modal-add-adicionais-individualLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-add-adicionais-individualLabel">Adiconar Adicional individual</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="categoria-adicional" class="form-label">Categoria do Adicional</label>
                                <select name="categoria-adicional" id="categoria-adicional">
                                    <option value="">Todos</option>
                                    {{#each categoriasAdicional}} <option value="{{_id}}">{{nome}}</option>{{/each}}
                                </select>

                                <form action="/produto/add-produto-adicional-individual" method="post">
                                    <input  class='tagify--outside' name="idAdicional" id="add-adicional-individual">

                                    <input type="text" name="idProduto" value="{{produto._id}}" hidden readonly>
                                    <button type="submit" class="btn btn-primary btn-sm mt-2">Adicionar</button>
                                </form>
                            </div>
                            </div>
                        </div>

                        <script>
                            var tagAddAdicional = document.querySelector('input[id=add-adicional-individual]')
                            var tagifyAddAdicional = new Tagify(tagAddAdicional, {
                                whitelist: [ {{#each adicionais}} {'idAdicional': '{{_id}}', value: '{{nome}} - {{idCategoriaAdicional.nome}}', idCategoriaAdicional: '{{idCategoriaAdicional._id}}' },  {{/each}} ],
                                editTags: false,
                                dropdown: {
                                    position: "input",
                                    maxItems: Infinity,
                                    closeOnSelect : false,
                                    enabled : 0 // always opens dropdown when input gets focus
                                },
                            })
                            
                            $('#categoria-adicional').change(() => {
                                tagifyAddAdicional.settings.whitelist.length = 0;
                                tagifyAddAdicional.loading(true)
                                jQuery.ajax({
                                    type: "POST",
                                    url: '/produto/ajax-get-produto-adicioanais-categoria-adicionais',
                                    data: {idCategoriaAdicional: $('#categoria-adicional').val(), idProduto: '{{produto._id}}'},
                                    success: function(response) {
                                        response.forEach(element => {
                                            tagifyAddAdicional.settings.whitelist.push({'idAdicional': element._id, value: `${element.nome} - ${element.idCategoriaAdicional.nome}`, idCategoriaAdicional: element.idCategoriaAdicional._id })
                                        })
                                        tagifyAddAdicional.loading(false)
                                    }
                                });
                            })
                        </script>
                    </div>
                    <!-- Modal add adicionais individual END-->
                </div>
                <!-- Parte para os adicionais END --> 

            </div>
            <!-- Navbar para opcoes e adicionais START --> 

            <!-- Navbar para ingredientes START --> 
            <div class="tab-pane fade" id="nav-ingredientes">
                <!-- Parte para os ingredientes START --> 
                <div class="card border-light p-0 mb-4 ">
                    <div class="h5 mt-4 mx-4">Ingredientes 
                        <button class="btn btn-secondary btn-sm float-end mr-2" data-bs-toggle="modal" data-bs-target="#modal-add-ingrediente">Editar</button>
                    </div>
                    
                    <div class="card-body">
                        {{#each produto.ingredientes}}
                            <div class="btn btn-light btn-sm " style="font-size: small;">{{nome}}</div>
                        {{/each}}
                    </div>

                    <!-- Modal add ingredientes START-->
                    <div class="modal fade" id="modal-add-ingrediente" tabindex="-1" aria-labelledby="modal-add-ingredienteLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-add-ingredienteLabel">Ingredientes</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h6>Somente ingredientes vinculados a categoria do produto serão exibidos</h6>
                                <form action="/produto/add-produto-ingrediente" method="post">
                                    <input  class='tagify--outside' name="idIngredientes" id="add-ingredientes">

                                    <input type="text" name="idProduto" value="{{produto._id}}" hidden readonly>
                                    <button type="submit" class="btn btn-primary btn-sm mt-2">Salvar</button>
                                </form>
                            </div>
                            </div>
                        </div>

                        <script>
                            var tagAddIngrediente = document.querySelector('input[id=add-ingredientes]')
                            var tagifyAddIngrediente = new Tagify(tagAddIngrediente, {
                                whitelist: [ {{#each ingredientes}} {'idIngrediente': '{{_id}}', value: '{{nome}}' },  {{/each}} ],
                                editTags: false,
                                dropdown: {
                                    position: "input",
                                    maxItems: Infinity,
                                    closeOnSelect : false,
                                    enabled : 0 // always opens dropdown when input gets focus
                                },
                            })
                            tagifyAddIngrediente.addTags([{{#each produto.ingredientes}} {value: '{{nome}}' },  {{/each}}])
                        </script>
                    </div>
                    <!-- Modal add ingredientes END-->
                </div>
                <!-- Parte para os ingredientes END --> 
            </div>
            <!-- Navbar para ingredientes END --> 

        </div>
            
            

        </div>
        <!-- infos a direita END --> 
        
    </div>    


    <!-- Modal edit produto START -->
    <div class="modal fade" id="modal-edit-produto" tabindex="-1" aria-labelledby="modal-edit-produtoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-edit-produtoLabel">Editar Produto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/produto/edit-produto" method="post">
                    <div class="row">
                        <div class="form-floating col">
                            <input type="text" class="form-control" id="edit-nome" name="nome" placeholder="-" value="{{produto.nome}}" required>
                            <label for="edit-nome" class="ml-2">Nome *</label>
                        </div>
                        <div class="form-floating col-6">
                            <input type="number" class="form-control" id="edit-valor" step=".01" name="valor" placeholder="-" value="{{produto.valor}}" required>
                            <label for="edit-valor" class="ml-2">Valor (R$) *</label>
                        </div>
                    </div>

                    <div class="form-floating mt-2">
                        <textarea class="form-control" name="descricao" id="edit-descricao" style="height: 100px">{{produto.descricao}}</textarea>
                        <label for="edit-descricao" class="form-label">Descrição</label>
                    </div>

                    <input type="text" name="idProduto" value="{{produto._id}}" hidden readonly>
                    <input type="text" name="idCategoriaProduto" value="{{produto.idCategoriaProduto._id}}" hidden readonly>
                    <input type="text" name="idEstabelecimento" value="{{produto.idEstabelecimento._id}}" hidden readonly>

                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary btn-sm " >Salvar</button>
                        <button type="buttton" class="btn btn-white btn-sm "  data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                        
                        <div class="form-check form-switch float-end " style="font-size: small;">
                            <input class="form-check-input" type="checkbox" name="statusAtivo" id="edit-statusAtivo" value="true">
                            <label class="form-check-label" for="edit-statusAtivo">Ativo</label>
                        </div>
                    </div>
                    
                </form>

                <script>
                    $('#edit-estabelecimento{{produto.idEstabelecimento._id}}').prop('checked', true)
                    $('#edit-categoria{{produto.idCategoriaProduto._id}}').prop('checked', true)
                    $('#edit-statusAtivo').prop('checked', {{produto.statusAtivo}})
                </script>
            </div>
            </div>
        </div>
    </div>
    <!-- Modal edit produto END -->

    <script> // script para adicionar categorias
        $(".valorFormatar").each(function(item) {
            let textFormat = $(this).text()
            $(this).html(new Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(textFormat));
        })

        $(".formatarTrueFalse").each(function(item) {
            let textFormat = $(this).text()
            if(textFormat == "true"){
                $(this).html('<span hidden>true</span><i class="fas fa-check-circle text-success"></i>');
            }else if(textFormat == "false"){
                $(this).html('<span hidden>false</span><i class="fas fa-times-circle text-danger"></i>');
            }
        })

        // script para puxas os tooltips "as informações de I no icone azul kk"
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

</main>

</div>
</div>
</div>

{{>usuario/_rodape}}

{{>_msg}}
