{{>admin/_top-css}}
<div class="container-fluid bg-soft">
<div class="row">
<div class="col-12">
{{>admin/_menu}}

<main class="content">
    
    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/admin/dashboard"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a>Administrativo</a></li>
                <li class="breadcrumb-item"><a href="/admin/administrativo/admusuarios">ADM Usuario</a></li>
            </ol>
        </nav>
    </div>

    <div>
        <button type="button" class="btn btn-primary btn-sm mb-4" data-bs-toggle="modal" data-bs-target="#modal-cadastrar-usuario">+ Adicionar</button>
        <button type="button" class="btn btn-white btn-sm mb-4" onclick="location.reload()"><i class="fas fa-sync"></i></button>
        <button class="btn btn-{{#if filtroExist}}danger{{else}}white{{/if}} btn-sm mb-4 float-end" data-bs-toggle="collapse" data-bs-target="#collapseExample"> <i class="fas fa-filter"></i> </button>

        <div class="collapse mb-4" id="collapseExample">
            <div class="card card-body">
                <form method="get" id="form-filtro-1">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="conteudo" id="find-conteudo" value="{{conteudo}}" placeholder="-">
                        <label for="find-conteudo">Nome</label>
                    </div>

                    <button class="btn btn-primary btn-sm d-block mt-2" type="submit">Filtrar</button>
                </form>
            </div>
        </div>
        
    </div>
    
    <div class="card border-light shadow-sm mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                        <tr>
                            <th class="border-0">#</th>
                            <th class="border-0">Nome Completo</th>
                            <th class="border-0">E-mail</th>
                            <th class="border-0">CPF</th>
                            <th class="border-0">Ativo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each usuarios}}
                        <tr>
                            <td><a href="/admin/estabelecimento?idEstabelecimento={{_id}}"><i class="fas fa-external-link-square-alt"></i></a></td>
                            <td>{{nomeCompleto}}</td>
                            <td>{{email}}</td>
                            <td>{{cpf}}</td>
                            <td>{{{formatTrueFalse statusAtivo}}}</td>
                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- Modal add usuários START -->
    <div class="modal fade" id="modal-cadastrar-usuario" tabindex="-1"
        aria-labelledby="modal-cadastrar-usuarioLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-cadastrar-usuarioLabel">Cadastrar usuário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/admin/usuario/add-usuario" method="POST">
                        <div class="row g-2">
                            <div class="col-md-4">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="primeiroNome"
                                        name="primeiroNome" placeholder="0" required>
                                    <label for="primeiroNome">Primeiro Nome*</label>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="nomeCompleto"
                                        name="nomeCompleto" placeholder="0" required>
                                    <label for="nomeCompleto">Nome Completo*</label>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row g-2">
                            <div class="col-md-9">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="0" required>
                                    <label for="email">E-mail*</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="cpf" name="cpf"
                                        placeholder="0" required>
                                    <label for="cpf">CPF*</label>
                                </div>
                            </div>
                        </div>

                        <h5 class="mt-4">Acesso</h5>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="senha" name="senha"
                                placeholder="0" required>
                            <label for="senha">Senha(4 dígitos)*</label>
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-sm mt-4">Salvar</button>
                        <button type="buttton" class="btn btn-white btn-sm mt-4" data-bs-dismiss="modal"
                            aria-label="Close">Cancelar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal add usuários END -->

    <script>
        $("#cpf").mask("000.000.000-00");
    </script>

</main>

</div>
</div>
</div>

{{>admin/_rodape}}

{{>_msg}}