{{>admin/_top-css}}

<div class="container-fluid bg-soft">
<div class="row">
<div class="col-12">
{{>admin/_menu}}

<main class="content">
    
    <div class="">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/admin"><span class="fas fa-home"></span></a></li>
            </ol>
        </nav>
    </div>

<div>
        <div class="row">
            <div class="col-12 col-sm-4 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="icon icon-shape icon-md icon-shape-success rounded mr-4 mr-sm-0"><span class="fas fa-check-circle"></span></div>
                                <div class="d-sm-none">
                                    <h2 class="h5">Estabelecimentos Ativos</h2>
                                    <h3 class="mb-1">{{estabelecimentos_ativos}} </h3>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <div class="d-none d-sm-block">
                                    <h2 class="h5">Estabelecimentos Ativos</h2>
                                    <h3 class="mb-1">{{estabelecimentos_ativos}}</h3>
                                </div>
                                <div class="small mt-2">                               
                                    Estabelecimentos ativos
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-lx-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="icon icon-shape icon-md icon-shape-primary rounded mr-4 mr-sm-0"><span class="fas fa-clock"></span></div>
                                <div class="d-sm-none">
                                    <h2 class="h5">Aguardando </h2>
                                    <h3 class="mb-1">{{pedidos_aguardando}} Pedidos</h3>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <div class="d-none d-sm-block">
                                    <h2 class="h5">Aguardando</h2>
                                    <h3 class="mb-1">{{pedidos_aguardando}} Pedidos</h3>
                                </div>
                                <div class="small mt-2">                               
                                    Contagem de 7 dias
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="icon icon-shape icon-md icon-shape-warning rounded mr-4 mr-sm-0"><span class="fas fa-spinner"></span></div>
                                <div class="d-sm-none">
                                    <h2 class="h5">Andamento </h2>
                                    <h3 class="mb-1">{{pedidos_andamento}} Pedidos</h3>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <div class="d-none d-sm-block">
                                    <h2 class="h5">Andamento</h2>
                                    <h3 class="mb-1">{{pedidos_andamento}} Pedidos</h3>
                                </div>
                                <div class="small mt-2">                               
                                    Contagem de 7 dias
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   

        </div>
</div>

</main>

</div>
</div>
</div>

{{>admin/_rodape}}

{{>_msg}}
